@charset "UTF-8";

button,
fieldset,
iframe,
input,
select,
textarea {
	font-family: inherit;
}

html {
	min-height: 100%;
}

body {
	width: 100%;
	height: 100vh;
	min-height: 100%;
	font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.01rem;
}

/* base-wrap */
.base-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* base-header */
.base-header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 6rem;
	z-index: 1000;
	background: #fff;
	color: var(--grays-1);
	text-align: center;
}
.base-header.notitle .header-title {
	font-size: 0;
}
.wrap-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
}
.wrap-header.is-end {
  justify-content: flex-end;
}
.base-header .header-title {
	position: absolute;
	left: 50%;
	margin: 0;
	width: calc(100% - 12rem);
	color: var(--grays-1);
	font-size: 2rem;
	font-weight: 500;
	transform: translateX(-50%);
}

/* base-content */
.base-content {
	flex: 1;
	padding: 6rem 2rem 10.6rem;
	background: #fff;
}
.base-content .content-title {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.75;
}
.base-content .wrap-head {
	padding: 2rem 0;
}
.base-content .wrap-head.line {
  border-bottom: .1rem solid var(--button-4);
}

/* base-footer */
.base-wrap.nofooter .base-content {
	padding-bottom: 0;
}
.base-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	background: #fff;
}
.wrap-footer {
	padding: 2rem 2rem 3.4rem;
	position: relative;
}

/* nodata */
.no-result {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
	padding: 8rem 0;
	color: var(--grays-3);
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  text-align: center; 
}
.no-result p {
  color: var(--grays-3);
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  text-align: center;
}
.no-result p::before {
  content: '';
  display: block;
  width: 100%;
  height: 4.8rem;
  margin-bottom: 1rem;
  background: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='22.5' stroke='%23DDDDDD' stroke-width='3'/%3E%3Cpath d='M24 13V27' stroke='%23DDDDDD' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M24 34V35' stroke='%23DDDDDD' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50% / 4.8rem;
}