<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>엔돌스타 가이드</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body>
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- header -->
    <header class="base-header">
      <div class="wrap-header">
        <button type="button" class="btn-ico btn-prev"><span class="hidden">이전</span></button>
        <h1 class="header-title">guide</h1>
      </div>
    </header>
    <!-- // header -->

    <!-- base-content -->
    <main class="base-content">
      <div class="ui-tab">
        <ul class="tab-menu">
          <li class="tab-item is-active">
            <a href="#" class="tab-link" data-tab="tab1">FOUNDATION</a>
          </li>
          <li class="tab-item">  
            <a href="#" class="tab-link" data-tab="tab2">COMPONENTS</a>
          </li>
        </ul>

        <div class="tab-contents">
          <div class="tab-content is-active" data-tab-content="tab1">
            <div class="wrap-group">
              <h2 class="guide-tit">Typography</h2>
              <div class="grid-layout">
                <h3 class="guide-subtit">1. 포인트 <span>font / S-Core Dream</span></h3>
                <div class="grid-head">
                  <div>Type category</div>
                  <div>Typeface</div>
                </div>
                <div class="grid-body">
                  <div class="type">Point</div>
                  <div class="typeface">
                    <h2 class="dsp-l">H1 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="dsp-m">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="dsp-s">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                  </div>
                </div>
<div class="wrap-markup">
<pre>
<code class="language-markup">&lt;h2 class="dsp-l">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="dsp-m">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="dsp-s">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2></code>
</pre>
</div>
              </div>
              <div class="grid-layout">
                <h3 class="guide-subtit">2. 기본 <span>font / Pretendard</span></h3>
                <div class="grid-head">
                  <div>Type category</div>
                  <div>Typeface</div>
                </div>
                <div class="grid-body">
                  <div class="type">Headline</div>
                  <div class="typeface">
                    <h1 class="tit-xl">H1 엔돌스타! 해피몽의 지구 생활기</h1>
                    <h1 class="tit-l">H1 엔돌스타! 해피몽의 지구 생활기</h1>
                    <h1 class="tit-m">H1 엔돌스타! 해피몽의 지구 생활기</h1>
                    <h1 class="tit-s">H1 엔돌스타! 해피몽의 지구 생활기</h1>
                    <h1 class="tit-xs">H1 엔돌스타! 해피몽의 지구 생활기</h1>
                  </div>
                </div>
<div class="wrap-markup">
<pre>
<code class="language-markup">&lt;h1 class="tit-xl">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h1>
&lt;h1 class="tit-l">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h1>
&lt;h1 class="tit-m">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h1>
&lt;h1 class="tit-s">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h1>
&lt;h1 class="tit-xs">H1 엔돌스타! 해피몽의 지구 생활기&lt;/h1></code>
</pre>
</div>
                <div class="grid-body">
                  <div class="type">Body</div>
                  <div class="typeface">
                    <h2 class="txt-xl">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="txt-l">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="txt-m">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="txt-s">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <h2 class="txt-xs">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <p class="desc">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <br>
                    <h2 class="txt-xl normal">H2 엔돌스타! 해피몽의 지구 생활기</h2>
                    <ul class="list-base" data-bullet="dot">
                      <li>default font-weight - Medium / (.normal) 클래스 추가시 Regular로 변경</li>
                    </ul>
                  </div>
                </div>
<div class="wrap-markup">
<pre>
<code class="language-markup">&lt;h2 class="txt-xl">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="txt-l">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="txt-m">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="txt-s">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;h2 class="txt-xs">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2>
&lt;p class="desc">p 엔돌스타! 해피몽의 지구 생활기&lt;/p>

&lt;h2 class="txt-xl normal">H2 엔돌스타! 해피몽의 지구 생활기&lt;/h2></code>
</pre>
</div>
                <div class="grid-body">
                  <div class="type">caption</div>
                  <div class="typeface">
                    <p class="cap-l">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <p class="cap-m">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <p class="cap-s">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <br>
                    <p class="cap-l normal">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <p class="cap-l bold">p 엔돌스타! 해피몽의 지구 생활기</p>
                    <ul class="list-base" data-bullet="dot">
                      <li>default font-weight - Medium / (.normal) 클래스 추가시 Regular / (.bold) 클래스 추가시 bold로 변경</li>
                    </ul>
                  </div>
                </div>
<div class="wrap-markup">
  <pre>
  <code class="language-markup">&lt;p class="cap-l">p 엔돌스타! 해피몽의 지구 생활기&lt;/p>
  &lt;p class="cap-m">p 엔돌스타! 해피몽의 지구 생활기&lt;/p>
  &lt;p class="cap-s">p 엔돌스타! 해피몽의 지구 생활기&lt;/p>
  
  &lt;p class="cap-l normal">p 엔돌스타! 해피몽의 지구 생활기&lt;/p>
  &lt;p class="cap-l bold">p 엔돌스타! 해피몽의 지구 생활기&lt;/p></code>
  </pre>
</div>
              </div>
            </div>
          </div> 
          <div class="tab-content" data-tab-content="tab2">
            <div class="wrap-group">
              <h2 class="guide-tit">Buttons</h2>
              <div class="grid-layout">
                <h3 class="guide-subtit">기본</h3>
                <div class="btn-group">
                  <button type="button" class="btn is-grays-1">텍스트</button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn is-primary">텍스트</button>
                </div>
<pre>
<code class="language-markup">&lt;div class="btn-group">
  &lt;button type="button" class="btn is-grays-1">텍스트&lt;/button>
&lt;/div>
&lt;div class="btn-group">
  &lt;button type="button" class="btn is-primary">텍스트&lt;/button>
&lt;/div></code>
</pre>
              </div>
            </div>
            <div class="wrap-group">
              <h3 class="guide-subtit">서브</h3>
              <div class="btn-group">
                <button type="button" class="btn is-secondary-1">텍스트</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn is-outline-1">텍스트</button>
              </div>
<pre>
<code class="language-markup">&lt;div class="btn-group">
  &lt;button type="button" class="btn is-secondary-1">텍스트&lt;/button>
&lt;/div>
&lt;div class="btn-group">
  &lt;button type="button" class="btn is-outline-1">텍스트&lt;/button>
&lt;/div></code>
</pre>
            </div>
            <div class="wrap-group">
              <h3 class="guide-subtit">비활성화</h3>
              <div class="btn-group">
                <button type="button" class="btn is-grays-1" disabled>텍스트</button>
              </div>
<pre>
<code class="language-markup">&lt;div class="btn-group">
  &lt;button type="button" class="btn is-grays-1" disabled>텍스트&lt;/button>
&lt;/div></code>
</pre>
            </div>
            <div class="wrap-group">
              <h3 class="guide-subtit">2단 조합형</h3>
              <div class="btn-group">
                <button type="button" class="btn is-grays-2">텍스트</button>
                <button type="button" class="btn is-primary">텍스트</button>
              </div>
<pre>
<code class="language-markup">
&lt;div class="btn-group">
  &lt;button type="button" class="btn is-grays-2">텍스트&lt;/button>
  &lt;button type="button" class="btn is-primary">텍스트&lt;/button>
&lt;/div>
</code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/lib/jquery.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js common -->
  <script src="../../resources/js/common/ui.common.js"></script>
  <script src="../../resources/js/common/ui.template.js"></script>
</body>
</html>