@charset "UTF-8";

/* text colors */
.text-white       {color: #fff !important;}
.text-black       {color: #000 !important;}
.text-primary     {color: var(--primary) !important;}
.text-secondary-1 {color: var(--secondary-1) !important;}
.text-secondary-2 {color: var(--secondary-2) !important;}
.text-secondary-3 {color: var(--secondary-3) !important;}
.text-secondary-4 {color: var(--button-5) !important;}
.text-grays-1     {color: var(--grays-1) !important;}
.text-grays-2     {color: var(--grays-2) !important;}
.text-grays-3     {color: var(--grays-3) !important;}
.text-grays-4     {color: var(--grays-4) !important;}
.text-grays-5     {color: var(--grays-5) !important;}
.text-grays-6     {color: var(--grays-6) !important;}
.text-red-1       {color: var(--system-1) !important;}
.text-red-2       {color: var(--system-2) !important;}
.text-red-3       {color: var(--system-3) !important;}

/* background colors */
.bg-white         {background-color: #fff !important;}
.bg-black         {background-color: #000 !important;}
.bg-primary       {background-color: var(--primary) !important;}
.bg-secondary-1   {background-color: var(--secondary-1) !important;}
.bg-secondary-2   {background-color: var(--secondary-2) !important;}
.bg-secondary-3   {background-color: var(--secondary-3) !important;}
.bg-secondary-4   {background-color: var(--button-5) !important;}
.bg-grays-1       {background-color: var(--grays-1) !important;}
.bg-grays-2       {background-color: var(--grays-2) !important;}
.bg-grays-3       {background-color: var(--grays-3) !important;}
.bg-grays-4       {background-color: var(--grays-4) !important;}
.bg-grays-5       {background-color: var(--grays-5) !important;}
.bg-grays-6       {background-color: var(--grays-6) !important;}
.bg-red-1         {background-color: var(--system-1) !important;}
.bg-red-2         {background-color: var(--system-2) !important;}
.bg-red-3         {background-color: var(--system-3) !important;}
.bg-green         {background-color: var(--green-1) !important;}

/* border colors */
.bd-white         {border-color: #fff !important;}
.bd-black         {border-color: #000 !important;}
.bd-primary       {border-color: var(--primary) !important;}
.bd-secondary-1   {border-color: var(--secondary-1) !important;}
.bd-secondary-2   {border-color: var(--secondary-2) !important;}
.bd-secondary-3   {border-color: var(--secondary-3) !important;}
.bd-secondary-4   {border-color: var(--button-5) !important;}

.bd-grays-1       {border-color: var(--grays-3) !important;}
.bd-grays-2       {border-color: var(--grays-2) !important;}
.bd-grays-3       {border-color: var(--grays-3) !important;}
.bd-grays-4       {border-color: var(--grays-4) !important;}
.bd-grays-5       {border-color: var(--grays-5) !important;}
.bd-grays-6       {border-color: var(--grays-6) !important;}
.bd-red-1         {border-color: var(--system-1) !important;}
.bd-red-2         {border-color: var(--system-2) !important;}
.bd-red-3         {border-color: var(--system-3) !important;}

/* Invisibles */
.hidden {
  clip: rect(0,0,0,0) !important;
  border: 0 !important;
  height: .1rem !important;
  margin: -.1rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: .1rem !important;
}

/* display */
.d-flex {display: flex !important;}
.d-inline {display: inline-block !important;}

/* Margin */
.mt-auto {margin-top: auto !important;}
.mr-auto {margin-right: auto !important;}
.mb-auto {margin-bottom: auto !important;}
.ml-auto {margin-left: auto !important;}

.ml-4 {margin-left: .4rem !important;}
.ml-8 {margin-left: .8rem !important;}
.mr-4 {margin-right: .4rem !important;}
.mr-8 {margin-right: .8rem !important;}
.mt-4 {margin-top: .4rem !important;}
.mt-8 {margin-top: .8rem !important;}
.mt-16 {margin-top: 1.6rem !important;}
.mt-24 {margin-top: 2.4rem !important;}
.mt-32 {margin-top: 3.2rem !important;}
.mt-40 {margin-top: 4rem !important;}
.mb-4 {margin-bottom: .4rem !important;}
.mb-8 {margin-bottom: .8rem !important;}
.mb-16 {margin-bottom: 1.6rem !important;}
.mb-24 {margin-bottom: 2.4rem !important;}

/* Width */
.w-100 {width: 100% !important;}

/* Border */
.border-0 {border: 0 !important}

/* Aligns */
.align-left   {text-align: left !important;}
.align-center {text-align: center !important;}
.align-right  {text-align: right !important;}

.align-selfStart {align-self: flex-start !important;}
.items-center {align-items: center !important;}
.content-between {justify-content: space-between !important;}
.content-start {justify-content: flex-start !important;}
.content-center {justify-content: center !important;}

/* Font Weight */
.fw-100 {font-weight: 100 !important;}
.fw-200 {font-weight: 200 !important;}
.fw-300 {font-weight: 300 !important;}
.fw-400 {font-weight: 400 !important;}
.fw-500 {font-weight: 500 !important;}
.fw-600 {font-weight: 600 !important;}
.fw-700 {font-weight: 700 !important;}
.fw-800 {font-weight: 800 !important;}
.fw-900 {font-weight: 900 !important;}

/* FadeIn, Out */
.is-fadeIn, .is-fadeOut {display: flex !important;}
.is-fadeIn  {animation: fadeIn .35s forwards;}
.is-fadeOut {animation: fadeOut .35s forwards;}

/* Display */
.is-show{display:flex;}

/* Keyframes */
@keyframes fadeIn  {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;}}

/* line */
.line-style {display: flex; align-items: center; justify-content: center;}
.line-style::before {
  content: '';
  width: .1rem;
  height: 1.4rem;
  background: var(--grays-3);
  margin: 0 .8rem;
}
.text-underline {text-decoration: underline;}

/* ellipsis */ 
.ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}