@charset "UTF-8";

/* tui-datepicker */
.datePicker {
  display: flex;
  align-items: center;
  width: 100%;
}
.datePicker-to {
  display: inline-block;
  width: .9rem;
  margin: 0 1rem;
  color: #525252;
  letter-spacing: -0.2px;
}
.tui-datepicker-input {
  width: 100%;
  height: 3.6rem;
  border: 0;
}
.tui-datepicker-input > input {
  padding: 0 3.5rem 0 0.9rem;
  color: #2A2A2C;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.2px;
  border-radius: .8rem;
  border-width: .1rem;
  border-style: solid;
  border-color: #DDE1E4;
  background-position: calc(100% - .9rem) 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M6.5 3.77778H5.80017C4.82008 3.77778 4.32967 3.77778 3.95532 3.97154C3.62604 4.14199 3.35852 4.41375 3.19074 4.74826C3 5.12855 3 5.62675 3 6.6224V7.33333M6.5 3.77778H13.5M6.5 3.77778V2M13.5 3.77778H14.2002C15.1803 3.77778 15.6696 3.77778 16.044 3.97154C16.3733 4.14199 16.6417 4.41375 16.8094 4.74826C17 5.12818 17 5.62577 17 6.61948V7.33333M13.5 3.77778V2M3 7.33333V15.1557C3 16.1514 3 16.6489 3.19074 17.0292C3.35852 17.3637 3.62604 17.636 3.95532 17.8064C4.3293 18 4.81912 18 5.7973 18H14.2027C15.1809 18 15.67 18 16.044 17.8064C16.3733 17.636 16.6417 17.3637 16.8094 17.0292C17 16.6493 17 16.1524 17 15.1587V7.33333M3 7.33333H17M13.5 14.4444H13.5017L13.5017 14.4462L13.5 14.4462V14.4444ZM10 14.4444H10.0017L10.0017 14.4462L10 14.4462V14.4444ZM6.5 14.4444H6.50175L6.50171 14.4462L6.5 14.4462V14.4444ZM13.5017 10.8889V10.8907L13.5 10.8906V10.8889H13.5017ZM10 10.8889H10.0017L10.0017 10.8907L10 10.8906V10.8889ZM6.5 10.8889H6.50175L6.50171 10.8907L6.5 10.8906V10.8889Z' stroke='%23494A4F' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.tui-datepicker-input > input:focus {
  outline: none;
  border-color: #007CEF;
}
.tui-datepicker-input .tui-ico-date {display: none;}
.datepicker-div {margin-left: -.1rem;}
.datepicker-div.is-right {margin-right: -.1rem;}
.datepicker-div.is-right .tui-datepicker {right: 0;}
.datepicker-div.is-show .tui-datepicker {
  position: relative;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}
.datepicker-div .tui-calendar-header-info {display: none;}
.datepicker-div .tui-datepicker {
  overflow: hidden;
  z-index: 1000;
  padding: 0 2.4rem 1.2rem;
  border: 0;
  border-radius: 1.6rem;
  box-shadow: 0 .2rem 2rem 0 rgba(0, 0, 0, .16);
}
.datepicker-div .tui-datepicker-type-date,
.datepicker-div .tui-calendar {width: 23.8rem;}
.datepicker-div .tui-calendar .tui-calendar-title {
  color: #2A2A2C;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.014px;
}
.datepicker-div .tui-calendar .tui-calendar-header-inner {
  padding: 2rem 0 1.2rem;
  height: 5.2rem;
}
.datepicker-div .tui-calendar .tui-calendar-body-inner {color: #525252;}
.datepicker-div .tui-calendar th {
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.012px;
}
.datepicker-div .tui-calendar .tui-calendar-body-header th {color: #525252;}
.datepicker-div .tui-calendar .tui-calendar-body-header th.tui-sun {color: #E5493A;}
.datepicker-div .tui-calendar td {color: #2A2A2C;}
.datepicker-div .tui-calendar td:not(.tui-is-selected).tui-calendar-sun {color: #E5493A;}
.datepicker-div .tui-calendar td.tui-is-blocked {color: #9C9C9C;}
.datepicker-div .tui-calendar .tui-calendar-next-month.tui-calendar-date {visibility: visible;}
.datepicker-div .tui-calendar th {
  height: 1.6rem;
  padding: 1.6rem 0 .8rem;
}
.datepicker-div .tui-calendar td {height: 3.4rem;}
.datepicker-div .tui-calendar-btn {
  top: 2.2rem;
  width: 1.6rem;
  height: 1.6rem;
}
.datepicker-div .tui-calendar-month .tui-calendar-body,
.datepicker-div .tui-calendar-year .tui-calendar-body {
  width: 100%;
  margin-top: 1.6rem;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after,
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -.8rem;
  background-position: 0 0;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M10 3.59998L6 7.99998L10 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M6 3.59998L10 7.99998L6 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-datepicker .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected {
  position: relative;
  z-index: 1;
  background-color: #007CEF;
}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected {background-color: transparent;}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before {
  position: absolute;
  top: 50%; left: 50%;
  z-index: -1;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #007CEF;
  content: "";
  transform: translate(-50%, -50%);
}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover {color: #007CEF;}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selected-range {background-color: transparent;}

.datepicker-div.has-po-right .tui-datepicker {right: 0;}
.datepicker-div.has-po-bottom .tui-datepicker {bottom: 100%;}

