@charset "UTF-8";
/* input */
.wrap-inp-group + .wrap-inp,
.wrap-inp + .wrap-inp {
  margin-top: 1rem;
}
.wrap-inp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  padding: 1.1rem 1.6rem;
  color: var(--grays-1);
  font-weight: 500;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.wrap-inp.inbtn {
  position: relative;
}
.wrap-inp.inbtn .inp-base {
  max-width: calc(100% - 7.8rem);
}
.wrap-inp.inbtn .btn.is-checked {
  position: absolute;
  right: 1.6rem;
  height: 4rem;
  padding: .9rem 1rem;
  color: var(--grays-4);
  font-size: 1.4rem;
  line-height: 2.2rem;
  border-color: var(--grays-4);
  z-index: 1;
}
.wrap-inp.inbtn .btn.is-checked.on {
  color: var(--grays-1);
  border-color: var(--grays-1);
}
.wrap-inp label {
  display: block;
  width: 100%;
  color: var(--grays-2);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}
.wrap-inp .inp-base {
  width: 100%;
  height: 2.4rem;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  border: 0;
  border-radius: 0;
}
.inp-base::placeholder {
  color: #B0B0B0;
}
.wrap-inp.is-readonly {
  color: #B0B0B0;
  background-color: var(--grays-6);
}
.wrap-inp.is-readonly .inp-base {
  color: #B0B0B0;
  background-color: var(--grays-6);
}
.wrap-inp.is-focus {
  border-color: var(--primary);
}
.wrap-inp.is-focus .lb-inp {
  color: var(--primary);
}
.wrap-inp-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.wrap-inp-group .wrap-inp {
  flex: 1;
  margin-top: 0;
}
/* validation */
.form-validation {
  margin: 1rem 0;
}
.form-validation .validation {
  margin-top: .4rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.form-validation.is-error .lb-inp,
.form-validation.is-error .validation {
  color: var(--system-1);
}
.form-validation.is-error .wrap-inp {
  border-color: var(--system-1);
}
.form-validation.is-warning .lb-inp,
.form-validation.is-warning .validation {
  color: var(--system-2);
}
.form-validation.is-warning .wrap-inp {
  border-color: var(--system-2);
}
.form-validation.is-complete .lb-inp,
.form-validation.is-complete .validation {
  color: var(--system-3);
}
.form-validation.is-complete .wrap-inp {
  border-color: var(--system-3);
}

/* input[text] */
.inp-base {
  height: 4.2rem;
  padding: 0 1.2rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  background-color: #fff;
  border-radius: .6rem;
  border: .1rem solid var(--grays-5);
  vertical-align: top;
  outline: none;
}
.inp-base:read-only {
  color: #B0B0B0;
  background-color: var(--grays-6);
  border: .1rem solid var(--grays-6);
}
.inp-base:disabled {
  color:#B0B0B0;
  background-color: var(--grays-6);
  border: .1rem solid var(--grays-6);
}
.inp-base.is-warning {
  color: var(--system-1);
  background-color: #FFE8E7;
  border: .1rem solid var(--system-1);
}
.inp-base:not(.is-warning):not(:read-only):focus {
  border-color: var(--grays-1);
}
.inp-search:not(.is-warning):not(:read-only):focus {
  border-color: var(--primary);
  caret-color: var(--primary);
}
/* input[password] */
.wrap-password {
  position: relative;
}
.wrap-password .btn-masking-pw {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 9.42578C1.71111 7.34245 4.2 4.42522 9 4.42578C13.8 4.42522 16.2889 7.34245 17 9.42578C16.2889 11.5091 13.8 14.4263 9 14.4258C4.2 14.4263 1.71111 11.5091 1 9.42578Z' fill='%23666666'/%3E%3Ccircle cx='9' cy='9.5' r='2.5' fill='%23666666' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat;
  cursor: pointer;
}
.wrap-password .btn-masking-pw.is-off {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4.42578C4.2 4.42522 1.71111 7.34245 1 9.42578H9L10 9L13 5.23634C11.9033 4.74007 10.5763 4.4256 9 4.42578ZM9 9.42887H1C1.45149 10.7516 2.61962 12.4105 4.6409 13.4453L9 9.42887Z' fill='%23666666'/%3E%3Cpath d='M9 14.4258C13.8 14.4263 16.2889 11.5091 17 9.42578H12.3926L9 12.8242V14.4258Z' fill='%23666666'/%3E%3Cpath d='M17 9.42597H12.4004L15.1522 6.66406C16.1011 7.54904 16.7043 8.55961 17 9.42597Z' fill='%23666666'/%3E%3Cpath d='M9.00004 12.8203V14.4258C8.46323 14.4258 7.9856 14.3841 7.50586 14.3164L9.00004 12.8203Z' fill='%23666666'/%3E%3Cpath d='M10.671 7.64046C10.2282 7.24229 9.64239 7 9 7C7.61929 7 6.5 8.11929 6.5 9.5C6.5 10.1309 6.73367 10.7071 7.11918 11.147' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M4 14.9375L15.3147 3.62478' stroke='%23666666' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

/* label */
.lb-inp {
  color: var(--grays-1);
  font-size: 1.4rem;
}

/* switch */
.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  vertical-align: top;
}
.switch [type="checkbox"] {
  position: relative;
  width: 4.4rem;
  height: 2.4rem;
  border-radius: 1.6rem;
  background-color: var(--grays-6);
}
.switch [type="checkbox"]::before {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 .3rem .1rem rgba(0, 0, 0, .06), 0 .3rem .8rem rgba(0, 0, 0, .15);
  transition: left 150ms linear;
}
.switch [type="checkbox"]:checked {
  border-color: var(--primary);
  background-color: var(--primary);
}
.switch [type="checkbox"]:checked::before {left: 2.2rem;}
.switch [type="checkbox"]:disabled{
  background-color: var(--grays-2);
}
.switch [type="checkbox"]:checked:disabled{
  background-color: var(--secondary-10);
}
.switch.is-text {
  position: relative;
}
.switch.is-text [type="checkbox"] {
  width: auto;
  min-width: 7.2rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}
.switch.is-text [type="checkbox"]::before {
  left: .3rem; top: .3rem;
  width: 3rem;
  height: 3rem;
}
.switch.is-text [type="checkbox"]:checked::before {left: calc(100% - 3.3rem);}
.switch.is-text span{
  display: none;
  position: absolute;
  right: .3rem;
  top: 0;
  width: calc(100% - 3.6rem);
  text-align: center;
  font-size: 1.2rem;
  line-height: 3.6rem;
  color:#fff;
}
.switch.is-text .true{
  left: .3rem;
  right: auto;
}
.switch.is-text [type="checkbox"]~.false {
  display: block;
}
.switch.is-text [type="checkbox"]:checked~.false {
  display: none;
}
.switch.is-text [type="checkbox"]:checked~.true {
  display: block;
}

/* select */
.inp-select {
  width: 100%;
  height: 6.8rem;
  padding: 0 3.4rem 0 1.6rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
  background: #fff url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.80296 14.9183C9.40314 15.4569 8.59686 15.4569 8.19705 14.9183L2.39052 7.09604C1.90072 6.4362 2.37171 5.5 3.19348 5.5L14.8065 5.5C15.6283 5.5 16.0993 6.43619 15.6095 7.09604L9.80296 14.9183Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat calc(100% - 1.6rem) 50% / 1.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
  outline: none;
}
.inp-select:disabled {
  color: #91929C;
  background-color: var(--grays-6);
  border: 0.1rem solid var(--grays-5);
  opacity: 1;
}
.wrap-select button.inp-select {
  text-align: left;
}

/* checkbox */
.form-checkbox,
.form-checkbox > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-checkbox + .form-checkbox {
  margin-top:.8rem;
}
.form-checkbox > label {
  justify-content: center;
  gap: .8rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-checkbox,
.inp-checkbox::after {
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  min-height: 1.8rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.inp-checkbox {
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border: .1rem solid var(--grays-5);
}
.inp-checkbox::after {
  content: "";
  position: absolute;
  top: -.1rem;
  left: -.1rem; 
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.84196L3.49231 6.70078L8.2 1.30078' stroke='%23CDCDCD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: .1rem solid var(--grays-5);
  opacity: 1;
}
.inp-checkbox:checked::after {
  opacity: 1;
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.3999 3.84196L3.89221 6.70078L8.5999 1.30078' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: .1rem solid var(--primary);
}
.inp-checkbox:disabled {
  background-color: var(--grays-5);
}
.inp-checkbox:disabled::after {
  background-color: var(--grays-5);
}
.inp-checkbox.is-none {
  border: 0;
}
.inp-checkbox.is-none::after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.761719 4.76852L4.38689 8.92681L11.2344 1.07227' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: 0;
}
.inp-checkbox.is-none:checked::after {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.761719 4.76852L4.38689 8.92681L11.2344 1.07227' stroke='%23F16122' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: 0;
}

/* radio */
.form-radio,
.form-radio > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-radio + .form-radio {
  margin-top:.8rem;
}
.inp-form-radio > label {
  justify-content: center;
  gap: .4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-radio {
  position: relative;
  width: 2rem;
  height: 2rem;
  vertical-align: top;
  background: #fff;
  border: .1rem solid var(--grays-5);
  border-radius: 50%;
}
.inp-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.inp-radio:checked::after {
  opacity: 1;
}
.inp-radio:disabled {
  background-color: var(--grays-5);
}
.inp-radio:disabled::after {
  background-color: var(--grays-5);
}

/* text radio */
.form-radio.is-text {
  flex-wrap: wrap;
  gap: 1rem;
}
.form-radio.is-text label {
  flex: 1;
  gap: 1rem;
  min-width: calc(100% / 2 - .5rem);
  max-width: calc(100% / 2 - .5rem);
}
.form-radio.is-text label > .inp-radio {
  display: none;
}
.form-radio.is-text label > .inp-radiotxt {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
  color: var(--grays-1);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border: solid .1rem var(--button-5);
  border-radius: .6rem;
  cursor: pointer;
}
.form-radio.is-text label .inp-radio:checked ~ .inp-radiotxt {
  color: var(--primary);
  font-weight: 600;
  border-color: var(--primary);
}

/* searchForm */
.form-searchbox {
  position: relative;
}
.form-searchbox .inp-search {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 4.4rem 1.6rem 1.6rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 140%;
  vertical-align: top;
  background-color: #fff;
  border: .1rem solid var(--grays-5);
  border-radius: .6rem;
  outline: none;
}
.form-searchbox .inp-search::placeholder {
  color: var(--grays-3);
}
.form-searchbox .btn-search {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8308 21.768L15.5038 15.441M15.5038 15.441C15.5105 15.4341 15.5172 15.4273 15.5239 15.4204C16.8825 14.0204 17.7189 12.1108 17.7189 10.0059C17.7189 5.71166 14.2377 2.23047 9.94342 2.23047C5.64916 2.23047 2.16797 5.71166 2.16797 10.0059C2.16797 14.3002 5.64916 17.7814 9.94342 17.7814C12.1224 17.7814 14.092 16.8851 15.5038 15.441Z' stroke='%23F16122' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
input[type="search"]::-webkit-search-cancel-button {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8' fill='%23CCCCCC'/%3E%3Cpath d='M6 6L12.0104 12.0104' stroke='white'/%3E%3Cpath d='M12 6L5.98959 12.0104' stroke='white'/%3E%3C/svg%3E%0A") 50% no-repeat / 1.8rem;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* textarea */
.wrap-textarea {
  width: 100%;
}
.inp-textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  min-height: 12rem;
  color: var(--grays-1);
  font-size: 1.2rem;
  line-height: 2rem;
  word-break: break-all;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
  resize: none;
}
.inp-textarea::placeholder {
  color: var(--grays-3);
}
.inp-textarea:read-only,
.inp-textarea:disabled {
  color: var(--grays-2);
  background-color: var(--grays-6)
}
.wrap-textarea .byte-info {
  display: block;
  color: var(--grays-2);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: right;
}
.wrap-textarea .byte-info .byte {
  color: var(--primary);
}
/* 입력취소 */
.area-form .wrap-inp.inbtn .btn-cancel {
  display: none; 
  position: absolute;
  top: 3.5rem;
  right: 9.6rem;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23CCCCCC'/%3E%3Cpath d='M6 12L12 6' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M12 12L6 6' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  border: 0;
}
.area-form .wrap-inp.inbtn .inp-base.is-cancel {
  padding-right: 2.8rem;
}
.area-form + .list-base {
  margin-top: 2rem;
}