@charset "UTF-8";

.list-base > div,
.list-base > li {
  position: relative;
  padding-left: 1rem;
  color: var(--grays-2);
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -0.011rem;
  word-break: break-word;
}
.list-base > li:not(:first-child) {
  margin-top: .6rem;
}
.list-base[data-bullet=dot] > div::before,
.list-base[data-bullet=dot] > li::before {
  content: "";
  position: absolute;
  left: 0.2em;
  top: 0.65em;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 1.5;
  background-color: var(--grays-3);
  border-radius: 50%;
}
.list-base[data-bullet=hyphen] > div::before,
.list-base[data-bullet=hyphen] > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.69em;
  width: 0.4rem;
  height: 0.1rem;
  line-height: 1.5;
  background-color: var(--grays-2);
}
.list-base[data-bullet=info] > div,
.list-base[data-bullet=info] > li {
  padding-left: 1.8rem;
}
.list-base[data-bullet=info] > div::before,
.list-base[data-bullet=info] > li::before {
  content: "info";
  font-family: "Material Icons Outlined";
  position: absolute;
  left: 0;
  top: 0.16em;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}
.list-base[data-bullet=error] > div,
.list-base[data-bullet=error] > li {
  padding-left: 1.8rem;
  color: var(--system-1);
}
.list-base[data-bullet=error] > div::before,
.list-base[data-bullet=error] > li::before {
  content: "error_outline";
  font-family: "Material Icons Outlined";
  position: absolute;
  left: 0;
  top: 0.16em;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}
.list-base[data-bullet=help] > div,
.list-base[data-bullet=help] > li {
  padding-left: 1.8rem;
}
.list-base[data-bullet=help] > div::before,
.list-base[data-bullet=help] > li::before {
  content: "help_outline";
  font-family: "Material Icons Outlined";
  position: absolute;
  left: 0;
  top: 0.16em;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}
.list-base[data-bullet=star] > div,
.list-base[data-bullet=star] > li {
  padding-left: 1.2rem;
}
.list-base[data-bullet=star] > div::before,
.list-base[data-bullet=star] > li::before {
  content: "*";
  position: absolute;
  left: 0.1em;
  top: 0.35em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
.list-base[data-bullet=care] > div,
.list-base[data-bullet=care] > li {
  padding-left: 1.2rem;
}
.list-base[data-bullet=care] > div::before,
.list-base[data-bullet=care] > li::before {
  content: "※";
  position: absolute;
  left: 0;
  top: 0.12em;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
}
.list-base[data-bullet=custom] > div,
.list-base[data-bullet=custom] > li {
  display: flex;
  padding: 0;
}
.list-base[data-bullet=custom] > div::before,
.list-base[data-bullet=custom] > li::before {
  content: attr(data-text);
  display: block;
  margin-top: 0.11em;
  margin-right: 0.4rem;
  font-size: 0.8em;
}
.list-base[data-number] {
  counter-reset: dep1 0 dep2 0;
}
.list-base[data-number] > div,
.list-base[data-number] > li {
  counter-increment: dep1 1;
  display: flex;
  padding: 0;
}
.list-base[data-number] > div::before,
.list-base[data-number] > li::before {
  content: counter(dep1) ".";
  display: block;
  min-width: 1em;
  margin-right: 0.2em;
  font-size: 1em;
  font-weight: 400;
  text-align: right;
}
.list-base[data-number=base] > div::before,
.list-base[data-number=base] > li::before {
  content: counter(dep1) ".";
}
.list-base[data-number=upper-roman] > div::before,
.list-base[data-number=upper-roman] > li:before {
  content: counter(dep1, upper-roman) ".";
}
.list-base[data-number=lower-roman] > div::before,
.list-base[data-number=lower-roman] > li:before {
  content: counter(dep1, lower-roman) ".";
}
.list-base[data-number=decimal-zero] > div::before,
.list-base[data-number=decimal-zero] > li:before {
  content: counter(dep1, decimal-leading-zero) ".";
  min-width: 1.5em;
}
.list-base[data-number=lower-greek] > div::before,
.list-base[data-number=lower-greek] > li:before {
  content: counter(dep1, lower-greek) ".";
}
.list-base[data-number=lower-alpha] > div::before,
.list-base[data-number=lower-alpha] > li:before {
  content: counter(dep1, lower-alpha) ".";
}
.list-base[data-number=upper-alpha] > div::before,
.list-base[data-number=upper-alpha] > li:before {
  content: counter(dep1, upper-alpha) ".";
}
.list-base[data-shape=round] > div, .list-base[data-shape=round] > li {
  padding-left: 0;
}
.list-base[data-shape=round] > div::before, .list-base[data-shape=round] > li::before {
  display: inline-block;
  position: relative;
  top: 0.5em;
  width: 1.4em;
  height: 1.4em;
  min-width: 1.5em;
  min-height: 1.5em;
  max-width: 1.5em;
  max-height: 1.5em;
  font-size: 0.6em;
  line-height: 1.36em;
  text-align: center;
  border: 0.1em solid #616161;
  border-radius: 50%;
}
.list-base[data-shape=square] > div, .list-base[data-shape=square] > li {
  padding-left: 0;
}
.list-base[data-shape=square] > div::before, .list-base[data-shape=square] > li::before {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  top: 0.5em;
  min-width: 1.6em;
  min-height: 1.6em;
  max-width: 1.6em;
  max-height: 1.6em;
  font-size: 0.6em;
  line-height: 1.39em;
  text-align: center;
  border: 0.1em solid #616161;
  border-radius: 0.2em;
}
.list-base[data-shape][data-number=base] > li:before {
  content: counter(dep1);
}
.list-base[data-shape][data-number=upper-roman] > li:before {
  content: counter(dep1, upper-roman);
}
.list-base[data-shape][data-number=lower-roman] > li:before {
  content: counter(dep1, lower-roman);
}
.list-base[data-shape][data-number=decimal-zero] > li:before {
  content: counter(dep1, decimal-leading-zero);
}
.list-base[data-shape][data-number=lower-greek] > li:before {
  content: counter(dep1, lower-greek);
}
.list-base[data-shape][data-number=lower-alpha] > li:before {
  content: counter(dep1, lower-alpha);
}
.list-base[data-shape][data-number=upper-alpha] > li:before {
  content: counter(dep1, upper-alpha);
}
.list-base[data-number=custom] > li:before {
  content: attr(data-text);
}
.list-base[data-shape][data-number=custom] > li:before {
  content: attr(data-text);
  font-weight: 500;
  text-indent: -0.1em;
}

/* list box */
.list-box .list-box-item {
  border-bottom: .1rem solid var(--button-4);
}
.list-box .list-link {
  position: relative;
  display: block;
  padding: 2rem 3rem 2rem 1rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
}
.list-box .list-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1107_11393)'%3E%3Cpath d='M6 3.20312L10 8.00313L6 12.8031' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1107_11393'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat 50% / 100%;
  transform: translateY(-50%);
}
.list-box .list-link .status {
  display: flex;
  align-items: center;
}
.list-box .cap-l.status {
  color: var(--grays-3);
  font-weight: 400;
}

/* 공지사항 */
.list-box.is-notice .list-link {
  padding: 1rem 3.4rem 1rem .4rem;
}
/* 1:1 문의 */
.list-box.is-qna {

}
.list-box.is-qna .list-box-item {
  position: relative;
  padding: 1rem .4rem;
  border-bottom: .1rem solid var(--button-4);
}
.list-box.is-qna .list-box-tit {
  display: block;
  height: 2.2rem; 
  margin-top: .3rem;
  padding-right: 2.4rem;
  overflow: hidden;
  color: var(--grays-1);
  line-height: 2.2rem; 
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.list-box.is-qna .list-qna-link {
  position: absolute;
  top: 50%;
  right: .4rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 1L10 7L4 13' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat 100% 50% / 1.4rem;
  transform: translateY(-50%);
}