@charset "UTF-8";

/*
** Modal
*/
.modal,
.modal .modal-dimmed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.modal {
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-dimmed {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-inner {
  position: relative;
  z-index: 5010;
  display: inline-flex;
  flex-direction: column;
  min-width: 34rem;
  min-height: 18rem;
  max-height: 60.8rem;
  background-color: #fff;
  border-radius: 3rem;
}
.modal .modal-header {
  position: relative;
  padding: 3.2rem 4rem 0;
}
/* .modal .modal-header .modal-close {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='21.3333' rx='1' transform='matrix(-0.707107 0.707107 0.707107 0.707107 9.25757 7.59082)' fill='%23333333'/%3E%3Crect x='22.9282' y='7.59082' width='2' height='21.3333' rx='1' transform='rotate(45 22.9282 7.59082)' fill='%23333333'/%3E%3C/svg%3E%0A");
} */
.modal .modal-header .modal-title {
  display: block;
  padding-bottom: .8rem;
  color: var(--grays-1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
}
.modal-content {
  margin: 2rem 4rem;
  color: var(--grays-2);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.modal-content.has-scrollbar {
  overflow: auto;
  margin: 1.6rem 2.2rem 3rem 3rem;
  padding-right: .8rem;
}
.modal-content.scroll-content {
  max-height: calc(100vh - 290px);
  margin: 1.6rem 2.2rem 3rem 3rem;
  padding-right: .8rem;
}
.modal-content .alert-msg {
  display: block;
  margin: .8rem 0;
  color: var(--grays-2);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
.modal-footer {
  display: flex;
  align-items: center;
}
.modal-footer .btn {
  flex: 1;
  height: 5rem;
  border-radius: 0;
}
.modal-footer .btn:nth-child(1) {
  border-radius: 0 0 0 2rem;
}
.modal-footer .btn:nth-child(2) {
  border-radius: 0 0 2rem 0;
}

/* alert */
.modal-inner.has-alert {
  max-width: 60rem;
}
.modal-inner.has-alert .modal-content {
  display: flex;
  justify-content: center;
  margin: 0 2.4rem 2rem;
}
.modal-inner.has-alert .modal-content .alert-msg {
  margin-bottom: 1.2rem;
  word-break: keep-all;
}

/* confirm */
.modal-inner.has-confirm {
  max-width: 60rem;
}
.modal-inner.has-confirm .modal-content {
  margin: 3.2rem 4rem;
}
.modal-inner.has-confirm .modal-content .alert-msg {
  margin: 1.4rem 0;
}