@charset "UTF-8";

.wrap-pagination {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
}
.wrap-pagination .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}
.wrap-pagination .count-text {
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
}
.wrap-pagination .count-text .count-number {
  font-weight: 600;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}
.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 2.4rem;
  height: 2.4rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  font-weight: 400;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.pagination-link:not(:first-child) {
  margin-left: .4rem;
}
.pagination-link.is-first {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L5 6L10 11' stroke='%23999999' stroke-linecap='square'/%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23999999' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23999999' stroke-linecap='square'/%3E%3C/svg%3E%0A")
}
.pagination-link.is-next {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23999999' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23999999' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-last {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23999999' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M5 11L10 6L5 0.999999' stroke='%23999999' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-first:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1L5 6L10 11' stroke='%23111111' stroke-linecap='square'/%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23111111' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-prev:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1L1 6L6 11' stroke='%23111111' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-next:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.pagination-link.is-last:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M5 11L10 6L5 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M5 11L10 6L5 0.999999' stroke='%23111111' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.pagination-link:hover,
.pagination-link.is-current {
  color: var(--grays-1);
  font-weight: 700;
}
.pagination-link.is-current {
  pointer-events: none;
}