@charset "UTF-8";

.tbl-base {
  width: 100%;
  table-layout: fixed;
  margin-top: 1rem;
  border-top: .1rem solid var(--grays-3);
  border-bottom: .1rem solid var(--secondary-3);
}
.tbl-base + .tbl-base {margin-top: 1.2rem;}
.tbl-base > thead > tr > th,
.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td,
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  height: 4.8rem;
  padding: .6rem 1.2rem;
  color: var(--grays-1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}
.tbl-base > thead > tr,
.tbl-base > tbody > tr {border-bottom: .1rem solid var(--grays-5);}
.tbl-base > tbody > tr:hover td {background-color: var(--grays-6);}
.tbl-base > thead > tr > th {
  font-weight: 500;
  background-color: var(--grays-6);
  border-right: .1rem solid var(--button-5);
}
.tbl-base > thead > tr > th:last-child {
  border-right: 0;
}
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  font-weight: 500;
  background-color: var(--secondary-1);
}
.tbl-base > tfoot > tr > td {
  text-align: right;
}

.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td {
  color: var(--grays-2);
  font-weight: 400;
  background: #fff;
}
.tbl-base > colgroup + tbody > tr > th {
  padding: .6rem 2rem;
  font-weight: 600;
}
.tbl-base > colgroup + tbody > tr > td {padding: .6rem 1.8rem;}
.tbl-base > colgroup + tbody > tr > th {background-color: var(--secondary-1);}
.tbl-base > tbody > tr > th.align-center .form-checkbox,
.tbl-base > tbody > tr > td.align-center .form-checkbox {
  justify-content: center;
}
.tbl-base .no-result {
  position: relative;
  padding: 20.2rem 0 10.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grays-3);
  text-align: center;
  }
  .tbl-base .no-result::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin-top: 10.8rem;
    width: 8rem;
    height: 8rem;
    background: url("../../images/ico/ico-nodata.png") no-repeat 50% 100% / 100%;
    transform: translateX(-50%);
}

/* .table has-warning  */
.tbl-base .has-warning {background: var(--system-3);}
.tbl-base .has-warning td {color: var(--system-1);}

/* .table has-left  */
.tbl-base.has-left > thead > tr > th,
.tbl-base.has-left > tbody > tr > th,
.tbl-base.has-left > tbody > tr > td {text-align: left;}

/* .table has-data */
.tbl-base.has-data > tbody > tr > td:not(.no-result) {text-align: right;}


/* tbl-head */
.tbl-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.8rem;
  margin-bottom: .8rem;
}
.tbl-head-count {

}
.tbl-head .count-text {
  color: var(--grays-1);
  font-size: 1.4rem;
}
.tbl-head .count-text .count-num {
  font-weight: 600;
}
.tbl-head .inp-select {
  min-width: 10.6rem;
  padding: .3rem 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L0.535899 0.499999L7.4641 0.5L4 5Z' fill='%23222222'/%3E%3C/svg%3E%0A");
}
.tbl-btn-group {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 1rem;
}
.tbl-btn-group.is-right {
  justify-content: flex-end;
}
.tbl-btn-group.is-center {
  justify-content: center;
}

/* scroll-content */
.scroll-content {overflow: auto;}
.scroll-content > .table.has-result {margin-top: 0;}
.scroll-content > .table.has-result > thead {
  position: sticky;
  z-index: 1;
	top: .1rem;
}
.scroll-content > .table.has-result > thead::before,
.scroll-content > .table.has-result > thead::after {
  position: absolute;
  left:0;
  display: block;
  width: 100%;
  content: "";
}
.scroll-content > .table.has-result > thead::before {
  top: -.1rem;
  height: .2rem;
  background-color: var(--grays-10);
}
.scroll-content > .table.has-result > thead::after {
  bottom: 0;
  height: .1rem;
  background-color: var(--grays-4);
}
.scroll-content > .table.has-result > thead > tr:not(:first-child) > th {
 position:relative; 
}
.scroll-content > .table.has-result > thead > tr:not(:first-child) > th:before {
  content:'';position:absolute;left:0;top:-.1rem;width:100%;height:.1rem;background:#E9E9E9;
}

.box-form {
  padding: 2.8rem;
  margin-top: 2.8rem;
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: .4rem .4rem 2.1rem 0 rgba(86, 86, 86, 0.07);
}