@charset "UTF-8";

.tbl-base {
  width: 100%;
  table-layout: fixed;
  margin-top: 1rem;
  border-top: .1rem solid var(--grays-3);
  border-bottom: .1rem solid var(--secondary-3);
}
.tbl-base + .tbl-base {margin-top: 1.2rem;}
.tbl-base > thead > tr > th,
.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td,
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  height: 4.8rem;
  padding: .6rem 1.2rem;
  color: var(--grays-1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}
.tbl-base > thead > tr,
.tbl-base > tbody > tr {
  border-bottom: .1rem solid var(--grays-5);
}
.tbl-base > tbody > tr:hover td {
  background-color: var(--grays-6);
}
.tbl-base > thead > tr > th {
  font-weight: 500;
  background-color: var(--grays-6);
  border-right: .1rem solid var(--button-5);
}
.tbl-base > thead > tr > th:last-child {
  border-right: 0;
}
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  font-weight: 500;
  background-color: var(--secondary-1);
}
.tbl-base > tfoot > tr > td {
  text-align: right;
}
.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td {
  color: var(--grays-2);
  font-weight: 400;
  background: #fff;
}
.tbl-base > colgroup + tbody > tr > th {
  padding: .6rem 2rem;
  font-weight: 600;
}
.tbl-base > colgroup + tbody > tr > td {
  padding: .6rem 1.8rem;
}
.tbl-base > colgroup + tbody > tr > th {
  background-color: var(--secondary-1);
}
.tbl-base > tbody > tr > th.align-center .form-checkbox,
.tbl-base > tbody > tr > td.align-center .form-checkbox {
  justify-content: center;
}
/* .table has-left  */
.tbl-base.has-left > thead > tr > th,
.tbl-base.has-left > tbody > tr > th,
.tbl-base.has-left > tbody > tr > td {
  text-align: left;
}

/* tbl-head */
.tbl-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.8rem;
  margin-bottom: .8rem;
}
.tbl-head .count-text {
  color: var(--grays-1);
  font-size: 1.4rem;
}
.tbl-head .count-text .count-num {
  font-weight: 600;
}
.tbl-head .inp-select {
  min-width: 10.6rem;
  padding: .3rem 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L0.535899 0.499999L7.4641 0.5L4 5Z' fill='%23222222'/%3E%3C/svg%3E%0A");
}
.tbl-btn-group {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 1rem;
}
.tbl-btn-group.is-right {
  justify-content: flex-end;
}
.tbl-btn-group.is-center {
  justify-content: center;
}