@charset "UTF-8";

/* default */
.tab-menu {
  display: flex;
  align-items: center;
}
.tab-item {
  position: relative;
  border-top: .1rem solid var(--grays-5);
  border-right: .1rem solid var(--grays-5);
  border-left: .1rem solid var(--grays-5);
  border-radius: .6rem .6rem 0 0;
}
.tab-item + .tab-item {
  border-left: 0;
}
.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9.7rem;
  height: 3.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--grays-3);
}
.tab-content {
  display: none;
  padding: 2rem;
  background-color: #fff;
  border-radius: .6rem .6rem .6rem 0;
  box-shadow: .4rem .4rem 2.1rem 0 rgba(86, 86, 86, 0.07);
}
.tab-content.is-active {display: block;}
.tab-item.is-active .tab-link {
  color: var(--primary);
  font-weight: 600;
}
.tab-item.is-active {
  position: relative;
  border-top-color: var(--primary);
  border-top-width: .2rem;
  border-left-color: transparent;
  background: #fff;
}