@charset "UTF-8";

/* default */
.ui-tab {
  margin: 0 -2rem;
}
.tab-menu {
  display: flex;
  align-items: center;
  border-bottom: .1rem solid var(--button-4);
}
.tab-item {
  position: relative;
  padding-left: 2rem;
}
.tab-item + .tab-item {
  border-left: 0;
}
.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5.5rem;
  height: 3rem;
  padding-bottom: .5rem;
  color: var(--grays-3);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
}
.tab-content {
  display: none;
  padding: 2.4rem 2rem;
}
.tab-content.is-active {
  display: block;
}
.tab-item.is-active .tab-link {
  color: var(--grays-1);
  font-weight: 600;
}
.tab-item.is-active {
  position: relative;
}
.tab-item.is-active .tab-link {
  padding-bottom: .4rem;
  border-bottom: .2rem solid var(--grays-1);
}