@charset "UTF-8";

.members .wrap-head {
  padding-bottom: 2.4rem;
  border-bottom: 0;
}
.members .cap-l {
  color: var(--grays-2);
  font-weight: 400;
}
.members .tit-xxs {
  color: var(--grays-1);
}
/* 회원정보 사용안내 */
.members .userinfo-benefit {
  padding: 3rem 2.8rem;
  background: var(--grays-6);
  text-align: center;
  border-radius: 1.2rem;
}
.members .userinfo-benefit .tit-s {
  font-weight: 700;
}
.members .userinfo-benefit .wrap-point-change {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.6rem 0;
  gap: 7.1rem;
}
.members .userinfo-benefit .wrap-point-change::before {
  content: '';
  position: absolute;
  top: 3.4rem;
  left: 50%;
  display: block;
  width: 3.1rem;
  height: 2rem;
  background: url("data:image/svg+xml,%3Csvg width='31' height='20' viewBox='0 0 31 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='6' width='27' height='8' rx='2' fill='%23888888'/%3E%3Cpath d='M20 17.7394V2.26055C20 1.39241 21.0303 0.936637 21.6727 1.52061L30.1861 9.26006C30.6225 9.65682 30.6225 10.3432 30.1861 10.7399L21.6727 18.4794C21.0303 19.0634 20 18.6076 20 17.7394Z' fill='%23888888'/%3E%3C/svg%3E%0A") no-repeat 50%;
  transform: translateX(-50%);
}
.members .userinfo-benefit .wrap-point-change .change-item {
  display: flex;
  flex-direction: column;
}
.members .userinfo-benefit .wrap-point-change .change-item span {
  display: block;
  margin-top: .6rem;
  color: var(--grays-1);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.members .userinfo-benefit .wrap-point-change .change-item::before {
  content: '';
  display: block;
  width: 8.4rem;
  height: 8.4rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.members .userinfo-benefit .wrap-point-change .change-item.is-happy::before {
  background-image: url('../../images/page/img-happypoint.png');
}
.members .userinfo-benefit .wrap-point-change .change-item.is-endor::before {
  background-image: url('../../images/page/img-endorcash.png');
}
.members .wrap-group {
  margin-top: 2.4rem;
}
.members .area-form-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.4rem;
}
.members .area-form-checkbox .form-checkbox > label {
  font-weight: 700;
}
.members .wrap-inp-group .form-radio {
  flex: 1;
}
.members .form-auth {
  display: none;
}
.members .form-auth.is-active {
  display: block;
}

/* 약관 */
.terms .wrap-head {
  padding-bottom: 0;
}
.terms .wrap-head .desc {
  margin-top: 1.2rem;
}
.terms .wrap-head .label-reward {
  display: inline-flex;
  align-items: center;
  margin-top: 1.2rem;
  padding: .6rem 1.2rem;
  color: var(--grays-1);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.terms .wrap-head .label-reward::before {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  background: url("../../images/ico/ico-hammer-lg.png") no-repeat 50% / 100%;
}
.terms .wrap-head .label-reward .text-primary {
  margin-left: .8rem;
  font-size: 2rem;
  font-weight: 700;
}
.terms .wrap-allcheck-box {
  margin-top: 2.4rem;
}
.terms .wrap-allcheck-box .allcheck-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1.6rem;
  background: var(--grays-6);
  border-radius: .6rem;
}
.terms .wrap-allcheck-box .allcheck-head .inp-checkbox, 
.terms .wrap-allcheck-box .allcheck-head .inp-checkbox::after {
  width: 2.6rem;
  height: 2.6rem;
  background-size: 1.2rem;
}
.terms .wrap-allcheck-box .allcheck-head .form-checkbox > label {
  color: var(--grays-1);
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.terms .wrap-allcheck-box .allcheck-body {
  display: none;
  padding: 2rem .6rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.terms .wrap-allcheck-box .allcheck-body.open {
  display: block;
  max-height: 1000px;
}
.terms .wrap-allcheck-box .allcheck-body .wrap-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terms .wrap-allcheck-box .allcheck-body .wrap-checkbox .form-checkbox > label {
  color: var(--grays-2);
  font-weight: 400;
}
.terms .wrap-allcheck-box .allcheck-body li:not(:first-child) {
  margin-top: 1.2rem;
}
.terms .wrap-allcheck-box .area-subcheck .wrap-checkbox.option-item {
  justify-content: flex-start;
  gap: 1.2rem;
  margin-left: 3.2rem;
  padding-top: .6rem;
}
.terms .wrap-allcheck-box .area-subcheck .wrap-checkbox.option + .wrap-checkbox.option {
  margin-top: 1.2rem;
}
.terms .wrap-allcheck-box .wrap-checkbox.option-item .form-checkbox {
  margin-top: 0;
}
.terms .wrap-allcheck-box .wrap-checkbox.option-item .form-checkbox > label {
  color: var(--grays-2);
  font-size: 1.4rem;
}
/* 회원가입 완료 */
.members .wrap-signup-complete::before {
  content: '';
  display: block;
  width: 100%;
  height: 25.6rem;
  margin: .3rem 0 2.7rem;
  background: url("../../images/page/img-signup-complete.png") no-repeat 50% / contain;
}
.members .wrap-signup-complete .tit-xs {
  margin-bottom: 1rem;
}
.members .wrap-signup-complete .wrap-box dt {
  min-width: 13rem;
}
.members .wrap-signup-complete .wrap-box:last-child {
  margin-bottom: 0;
}
.members .wrap-signup-complete .wrap-box .text-primary {
  display: inline-block;
  margin-left: .6rem;
  font-weight: 700;
}
.members .wrap-signup-complete .reward-text {
  display: flex;
  align-items: center;
}
.members .wrap-signup-complete .wrap-box dl {
  align-items: flex-start;
  line-height: 2.2rem;
}
.members .wrap-signup-complete .wrap-box dl + dl {
  margin-top: 1rem;
}
.members .reward-text em:not(.text-primary) {
  min-width: 4.8rem;
}
.members .reward-text [class*="ico-"] {
  display: inline-flex;
  position: relative;
  padding-left: 2.2rem;
}
.members .reward-text [class*="ico-"]::before {
  content: '';
  position: absolute;
  left: 0;
  top: .2rem;
  display: inline-block;
  margin-right: .4rem;
  width: 1.8rem;
  height: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.members .reward-text .ico-goldhammer::before {
  background-image: url("../../images/ico/ico-hammer.png");
}
.members .reward-text .ico-endorcash::before {
  background-image: url("../../images/ico/ico-endorcash.png");
}
.members .wrap-profile {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.members .wrap-profile .user-img {
  width: 5.4rem;
  height: 5.4rem;
  margin-right: 1.2rem;
}
.members .wrap-profile .user-id {
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.members .wrap-profile .signup-date {
  margin-top: .2rem;
  color: var(--grays-2);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

/* mediaquery */
@media (min-width: 426px) {
  .list-base li {
    word-break: keep-all;
  }
  .list-base .mbr {
    display: none;
  }
}