@charset "UTF-8";
.mission .wrap-head {
  border-bottom: .1rem solid var(--button-4);
}
.mission .wrap-head .date {
  margin-top: .2rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  font-weight: 500;
}
.mission .wrap-body {
  padding: 2rem 0 3rem;
}
.mission .wrap-body .wrap-img {
  text-align: center;
}
/* 이벤트 유의사항 panel */
.mission .wrap-notice {
  padding: 3rem 2rem;
  margin: 0 -2rem;
  background: var(--grays-6);
}
.mission .wrap-notice .tit-notice {
  color: var(--grays-1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.mission .notice-panel {
  margin-top: 1.2rem;
}
.mission .notice-panel .list-base li {
  line-height: 2rem;
}
/* 이벤트 - 설문 이벤트 */
.mission .wrap-qnalist {
  margin-top: 3rem;
}
.mission .wrap-qnalist li:not(:first-child) {
  margin-top: 3rem;
}
.mission .wrap-qnalist .question-txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: calc(2.2rem * 3); 
  line-height: 2.2rem; 
  text-overflow: ellipsis;
}

/* qna, 이미지 등록 (mission/mypage 공통 사용) */
.wrap-qnalist li .answer {
  margin-top: 1.4rem;
}
.wrap-qnalist .mark {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -.2rem;
  background: var(--grays-3);
  border-radius: 50%;
  box-sizing: border-box;
}
.wrap-qnalist .mark::after {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  left: 0.4rem;
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9993 11.0006C10.9993 11.0006 1.85849 3.84384 0.00356744 1.5781L7.26945 0.284768L10.9993 11.0006Z' fill='%23888888'/%3E%3C/svg%3E%0A");
}
.wrap-qnalist .answer .mark {
  background-color: var(--grays-1);
}
.wrap-qnalist .answer .mark::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9993 11.0006C10.9993 11.0006 1.85849 3.84384 0.00356744 1.5781L7.26945 0.284768L10.9993 11.0006Z' fill='%23111111'/%3E%3C/svg%3E%0A");
}
.wrap-upload {
  margin-top: 3rem;
}
.upload-thumb {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 2.4rem 0;
}
.upload-thumb .btn-upload {
  position: relative;
  min-width: 6.8rem;
  min-height: 6.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.upload-thumb .btn-upload::before {
  content: '';
  position: absolute;
  top: 1.2rem;
  left: 50%;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_916_109442)'%3E%3Crect x='1.71484' y='6.85742' width='20.5714' height='13.7143' rx='2' fill='%23666666'/%3E%3Ccircle cx='12.0006' cy='13.7144' r='4.28572' fill='white'/%3E%3Ccircle cx='12.0011' cy='13.714' r='2.57143' fill='%23666666'/%3E%3Cpath d='M7.06136 4.58294C7.38996 3.87879 8.09668 3.42871 8.87373 3.42871H15.1263C15.9033 3.42871 16.61 3.87879 16.9386 4.58294L18 6.85728H6L7.06136 4.58294Z' fill='%23666666'/%3E%3Cpath d='M10.2852 6.85714C10.2852 6.38376 10.6689 6 11.1423 6H12.8566C13.33 6 13.7137 6.38376 13.7137 6.85714V6.85714C13.7137 7.33053 13.33 7.71429 12.8566 7.71429H11.1423C10.6689 7.71429 10.2852 7.33053 10.2852 6.85714V6.85714Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_916_109442'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .ico-add {
  position: absolute;
  left: 50%;
  bottom: 1.4rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.60016' width='0.8' height='12' fill='%23666666'/%3E%3Crect x='12' y='5.60059' width='0.800001' height='12' transform='rotate(90 12 5.60059)' fill='%23666666'/%3E%3C/svg%3E%0A") 50% no-repeat;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .length-txt {
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  display: none;
  color: var(--grays-2);
  line-height: 2rem;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .current {
  color: var(--primary);
}
.upload-thumb .btn-upload.disabled {
  background: var(--grays-4);
}
.upload-thumb .btn-upload.disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_962_84891)'%3E%3Crect x='1.71484' y='6.85742' width='20.5714' height='13.7143' rx='2' fill='white'/%3E%3Ccircle cx='12.0006' cy='13.7144' r='4.28572' fill='%23CCCCCC'/%3E%3Ccircle cx='12.0011' cy='13.714' r='2.57143' fill='white'/%3E%3Cpath d='M7.06136 4.58294C7.38996 3.87879 8.09668 3.42871 8.87373 3.42871H15.1263C15.9033 3.42871 16.61 3.87879 16.9386 4.58294L18 6.85728H6L7.06136 4.58294Z' fill='white'/%3E%3Cpath d='M10.2852 6.85714C10.2852 6.38376 10.6689 6 11.1423 6H12.8566C13.33 6 13.7137 6.38376 13.7137 6.85714C13.7137 7.33053 13.33 7.71429 12.8566 7.71429H11.1423C10.6689 7.71429 10.2852 7.33053 10.2852 6.85714Z' fill='%23CCCCCC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_962_84891'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.upload-thumb .btn-upload.disabled .ico-add {
  display: none;
}
.upload-thumb .btn-upload.disabled .length-txt,
.upload-thumb .btn-upload.disabled .length-txt .current {
  color: #fff;
}
.thumbnail-container {
  display: flex;
  gap: 1.4rem;
  margin-left: 1.4rem;
}
.thumbnail {
  position: relative;
  width: 6.8rem;
  height: 6.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .6rem;
}
.thumbnail .delete-btn {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width: 1.8rem;
  height: 1.8rem;
  color: #fff;
  background: var(--grays-1) url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1 1L7 7' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50%;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

/* UI확인용 modal(modal은 퍼블 작업 범위아님) */
.popup-mission {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.popup-mission .popup-content {
  width: calc(100% - 4rem);
  text-align: center;
  background: #fff;
  border-radius: 2rem;
}
.popup-mission .popup-body {
  padding: 3.2rem 3.2rem;
}
.popup-mission .popup-content .tit-s + .desc {
  margin-top: .8rem;
}
.popup-mission .popup-footer {
  display: flex;
  width: 100%;
}
.popup-mission .popup-footer .btn {
  flex: 1;
  height: 5rem;
  border-radius: 0;
}
.popup-mission .popup-footer .btn.is-grays-4 {
  color: var(--grays-3);
  background: var(--button-4);
}
.popup-mission .popup-footer .btn:nth-child(1) {
  border-radius: 0 0 0 2rem;
}
.popup-mission .popup-footer .btn:nth-child(2) {
  border-radius: 0 0 2rem 0;
}

/* 이벤트 - 빙고 이벤트 */
.mission .wrap-bingo {
  margin-top: 3rem;
}
.mission .wrap-bingo .tit-xs {
  margin-bottom: 1rem;
}
.mission .bingo-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
}
.mission .bingo-box .bingo-item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(33.333% - 1.6rem);
  min-width: calc(33.333% - 1.6rem);
  height: calc(33.333vw - 2.4rem);
  min-height: 9.6rem;
  max-height: 19.2rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: -3px -3px 13px 0px #0000001F inset,
              2px 2px 3px 0px #0000001F;
}
.mission .bingo-box .bingo-item.is-clear {
  background: #F16122 url("../../images/page/img-stamp-clear.png") no-repeat 50% 50% / contain;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #BC39004D,
              -3px -3px 14px 0px #C52400 inset,
              3px 3px 14px 0px #FFA337 inset;
}
.mission .bingo-box .bingo-item.is-joker {
  background: #7DB700 url("../../images/page/img-stamp-joker.png") no-repeat 50% 50% / contain;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #537A0061,
            -3px -3px 14px 0px #6B9C01 inset,
            3px 3px 14px 0px #96DB00 inset;
}
.mission .bingo-box .bingo-item.is-clear .btn-bingo,
.mission .bingo-box .bingo-item.is-joker .btn-bingo {
  opacity: 0;
}
.mission .bingo-box .bingo-item .btn-bingo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  color: var(--grays-3);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  border-radius: 1.2rem;
  cursor: pointer;
  opacity: 1;
}
.mission .bingo-box .bingo-item.selected {
  background-color: var(--primary);
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #BC39004D,
              -3px -3px 14px 0px #C52400 inset,
              3px 3px 14px 0px #FFA337 inset;
}
.mission .bingo-box .bingo-item.selected .btn-bingo {
  border-radius: 2rem;
}
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-name,
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-status,
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-status em {
  color: #fff;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-name {
  min-height: 3.4rem;
  display: block;
  color: var(--grays-2);
  word-break: keep-all;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 3.4rem;
  color: #B0B0B0;
  font-weight: 600;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .current {
  color: var(--primary);
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .total {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: .5rem;
  color: #B0B0B0;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .total::before {
  content: '/';
  position: absolute;
  left: 0;
  display: inline-block;
  width: .5rem;
  height: 1.7rem;
}
.mission .wrap-bingo .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* 빙고라인 */
.mission .bingo-box.is-complete .bingo-line {
  background-color: #D6EDA7;
}
.mission .bingo-line {
  position: absolute;
  background: var(--grays-6);
}
.mission .bingo-line.is-active {
  background-color: var(--secondary-1);
}
.mission .bingo-line.horizontal {
  width: 100%;
  height: .6rem;
  left: 0;
}
.mission .bingo-line.vertical {
  width: .6rem;
  height: 100%;
}
.mission .bingo-line.diagonal-left {
  width: 100%;
  height: .6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mission .bingo-line.diagonal-right {
  width: 100%; 
  height: .6rem;
}

.mission .bingo-line[data-line="horizontal-1"] {
  top: calc(33.333% / 2);
}
.mission .bingo-line[data-line="horizontal-2"] {
  top: calc(100% / 2);
}
.mission .bingo-line[data-line="horizontal-3"] {
  top: calc(100% - 33.333% / 2);
}
.mission .bingo-line[data-line="vertical-1"] {
  top: 0;
  left: calc(33.333% / 2 - .8rem);
}
.mission .bingo-line[data-line="vertical-2"] {
  top: 0;
  left: calc(100% / 2);
}
.mission .bingo-line[data-line="vertical-3"] {
  top: 0;
  left: calc(100% - 33.333% / 2);
}
.mission .bingo-line[data-line="diagonal-left"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mission .bingo-line[data-line="diagonal-right"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mission .bingo-box.type-joker .bingo-line.is-active {
  background-color: var(--grays-4);
}
.mission .bingo-box .bingo-item.is-clear.disabled {
  background-color: var(--grays-4);
  background-image: url("../../images/page/img-bkstamp-clear.png");
  box-shadow: -3px -3px 14px 0px #909090 inset,
              3px 3px 14px 0px #E6E6E6 inset,
              2px 2px 3px 0px #0000001F;
}
.mission .bingo-reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2.4rem;
}
.mission .bingo-reward .bingo-reward-item {
  flex: 1 1 calc(33.333% - 1rem);
  height: calc(33.333vw - 1rem);
  min-height: 12rem;
  max-height: 19.2rem;
}
.mission .bingo-reward .btn-reward {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  background: var(--grays-6);
  border-radius: 1.2rem;
}
.mission .bingo-reward .btn-reward span {
  display: block;
  width: 100%;
  padding: 1.2rem 2rem;
  color: var(--grays-3);
  font-size: 1.3rem;
  font-weight: 500;
}
.mission .bingo-reward .btn-reward .reward-state {
  padding: .4rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;
  background: var(--grays-4);
  border-radius: 0 0 1.2rem 1.2rem;
}
.mission .bingo-reward .btn-reward::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translate(-50%, -50%);
}
.mission .bingo-reward div .btn-reward.is-before::before {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8713 42.3545C25.1011 42.3545 26.1157 41.9318 26.915 41.0863C27.7144 40.2408 28.1141 39.1878 28.1141 37.9273C28.1141 36.6667 27.7144 35.6137 26.915 34.7682C26.1157 33.9227 25.1011 33.5 23.8713 33.5C22.6722 33.5 21.673 33.9227 20.8737 34.7682C20.0743 35.6137 19.6746 36.6667 19.6746 37.9273C19.6746 39.1878 20.0743 40.2408 20.8737 41.0863C21.673 41.9318 22.6722 42.3545 23.8713 42.3545Z' fill='%23CCCCCC'/%3E%3Cpath d='M26.4517 30.1803C26.3902 28.7968 26.5439 27.6746 26.9129 26.8137C27.2818 25.9529 27.7507 25.2227 28.3195 24.6231C28.8882 24.0236 29.5108 23.4779 30.1872 22.986C30.8636 22.494 31.5016 21.9176 32.1011 21.2566C32.7006 20.5955 33.2002 19.7731 33.5999 18.7893C33.9996 17.8054 34.1994 16.5142 34.1994 14.9154C34.1994 13.5319 33.9535 12.3021 33.4615 11.226C32.9696 10.15 32.2932 9.23529 31.4324 8.48204C30.5715 7.72879 29.5493 7.14463 28.3656 6.72958C27.1819 6.31452 25.9137 6.07625 24.5609 6.01476C23.4233 5.95327 22.255 6.08393 21.056 6.40676C19.8569 6.72958 18.7578 7.30605 17.7586 8.13616C16.7594 8.96627 15.9139 10.0731 15.2221 11.4566C14.5304 12.8401 14.123 14.5465 14 16.5756H19.7647C19.8877 14.7309 20.3642 13.3628 21.1943 12.4712C22.0244 11.5796 23.0851 11.1338 24.3764 11.1338C25.6677 11.1338 26.6054 11.5412 27.1896 12.3559C27.7737 13.1706 28.0658 14.1775 28.0658 15.3766C28.0658 16.3297 27.8813 17.1291 27.5124 17.7747C27.1435 18.4203 26.69 19.0045 26.1519 19.5272C25.6139 20.0498 25.0374 20.5879 24.4225 21.1413C23.8076 21.6947 23.2465 22.3557 22.7392 23.1243C22.232 23.8929 21.8246 24.8383 21.5171 25.9605C21.2097 27.0827 21.1175 28.4893 21.2404 30.1803H26.4517Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
}
.mission .bingo-reward div .btn-reward.is-accept::before {
  background-image: url("../../images/ico/ico-reward.svg");
}
.mission .bingo-reward div .btn-reward.is-complete::before {
  background-image: url("../../images/ico/ico-reward-complete.svg");
}
.mission .bingo-reward div .btn-reward.is-accept .reward-state {
  background: var(--primary);
}
/* 이벤트 공유 gateway */
.mission .event-gateway {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.mission .event-gateway::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle at center, rgba(255, 153, 34, 0.4) 20%, rgba(255, 153, 34, 0.25) 40%, rgba(255, 212, 193, 0.2) 60%, rgba(255, 212, 193, 0.1) 80%);
  z-index: 0;
}
.mission .event-gateway .wrap-body {
  height: calc(100vh - 10.6rem); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.mission .event-gateway .wrap-body img {
  width: 100%; 
  height: auto;
  padding-top: 4.5rem;
  object-fit: cover; 
  z-index: 1;
}
.mission .event-gateway .wrap-body .desc {
  width: 100%;
  padding: .8rem 2rem 4rem;
  color: var(--grays-2);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
  z-index: 2;
}
.mission .event-gateway .wrap-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 2;
}

/* 랭킹보드 */
.ranking-board {
  background: linear-gradient(180deg, #FFC501 -5.13%, #F16122 25.9%);
}
.ranking-board .base-header {
  background: transparent;
}
.ranking-board .base-header .wrap-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ranking-board .base-header .btn-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 5L10 15L20 25' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ranking-board .base-header .btn-menu {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7H25' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M5 15H25' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M5 23H25' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.ranking-board .base-header .btn-home {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 14.4762L15 4L28 14.4762H24V26H18V18.6667H12V26H6V14.4762H2Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.ranking-board .base-header .header-title {
  color: #fff;
}
.ranking-board .base-content {
  width: 100%;
  padding: 7rem 0 0;
  background: url("../../images/page/bg-linear.png") no-repeat 0 0 / 100%;
}
.ranking-board .wrap-head {
  padding: 0 2rem;
}
.ranking-board .round-title p {
  display: inline-flex;
  align-items: center;
  padding: .1rem 1.2rem;
  color: var(--grays-1);
  font-size: 1.2rem;
  font-weight: 500;
  background: #FFFFFFC7;
  border-radius: 3rem;
  border: .1rem solid #fff;
  letter-spacing: -0.03rem;
  line-height: 2rem;
  box-shadow: 0px 4px 62px 0px #0000001F;
}
.ranking-board .round-title p::before {
  content: '';
  display: inline-block;
  margin-right: .3rem;
  width: 2.8rem;
  height: 2.8rem;
  background: url("../../images/ico/ico-trophy.svg") no-repeat 50% 50% / 100%;
}
.ranking-board .wrap-ranking {
  padding: 2rem 2rem 0;
}
.ranking-board .wrap-ranking-list {
  padding: 2.4rem 2 2rem;
  background: #fff;
}
.ranking-board .wrap-ranking {
  display: flex;
  justify-content: space-around;
}
.ranking-board .wrap-ranking .ranking-item {
  flex: 1;
}
.ranking-box {
  text-align: center;
  background: linear-gradient(180deg, #FEE37A 0%, #FFB84E 100%),
              linear-gradient(90deg, rgba(255, 138, 0, 0) 54.56%, rgba(213, 115, 0, 0.35) 87.8%);
  border-radius: 1.3rem 1.3rem 0 0;
}
.ranking-item .ranking-box strong {
  font-family: 'SCoreDream';
  color: #CB691F;
  font-size: 3.8rem;
  font-weight: 900;
}
.ranking-item.is-silver .ranking-box {
  min-height: 6.5rem;
}
.ranking-item.is-gold .ranking-box {
  min-height: 9.2rem;
}
.ranking-item.is-bronze .ranking-box {
  min-height: 4.7rem;
}

/* mediaquery */
@media (max-width: 350px) {
  .mission .wrap-bingo .bingo-box {
    gap: 1rem;
  }
  .mission .bingo-box .bingo-item {
    flex: 1 1 calc(33.333% - 1rem);
    min-width: calc(33.333% - 1rem);
    min-height: 8.6rem;
  }
  .mission .bingo-box .bingo-item .btn-bingo {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .mission .bingo-reward .bingo-reward-item {
    min-height: 11rem;
  }
  .mission .bingo-reward div .btn-reward::before {
    width: 3.8rem;
    height: 3.8rem;
    background-size: 100%;
  }
  .mission .bingo-reward .btn-reward span {
    padding: .8rem 1rem;
    font-size: 1.2rem;
  }
  .mission .bingo-reward .btn-reward .reward-state {
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .mission .wrap-bingo,
  .mission .wrap-qnalist,
  .mission .wrap-upload {
    max-width: 96rem;
    margin: 3rem auto 0;
  }
  .mission .wrap-bingo .bingo-box .bingo-item .btn-bingo {
    font-size: 1.4rem;
  }
  .mission .bingo-reward div .btn-reward::before {
    width: 6.4rem;
    height: 6.4rem;
    background-size: 100%;
  }
  .mission .bingo-line.diagonal-left,
  .mission .bingo-line.diagonal-right {
    width: 80%;
  }
}