@charset "UTF-8";
.mission .wrap-head {
  border-bottom: .1rem solid var(--button-4);
}
.mission .wrap-head .date {
  margin-top: .2rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  font-weight: 500;
}
.mission .wrap-body {
  padding: 2rem 0 3rem;
}
.mission .wrap-body .wrap-img {
  text-align: center;
}
/* 이벤트 유의사항 panel */
.mission .wrap-notice {
  padding: 3rem 2rem;
  margin: 0 -2rem;
  background: var(--grays-6);
}
.mission .wrap-notice .tit-notice {
  color: var(--grays-1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.mission .notice-panel {
  margin-top: 1.2rem;
}
.mission .notice-panel .list-base li {
  line-height: 2rem;
}
/* 이벤트 - 설문 이벤트 */
.mission .wrap-qnalist {
  margin-top: 3rem;
}
.mission .wrap-qnalist li:not(:first-child) {
  margin-top: 3rem;
}
.mission .wrap-qnalist .question-txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: calc(2.2rem * 3); 
  line-height: 2.2rem; 
  text-overflow: ellipsis;
}

/* qna, 이미지 등록 (mission/mypage 공통 사용) */
.wrap-qnalist li .answer {
  margin-top: 1.4rem;
}
.wrap-qnalist .mark {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  background: var(--grays-3);
  border-radius: 50%;
  box-sizing: border-box;
}
.wrap-qnalist .mark::after {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  left: 0.4rem;
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9993 11.0006C10.9993 11.0006 1.85849 3.84384 0.00356744 1.5781L7.26945 0.284768L10.9993 11.0006Z' fill='%23888888'/%3E%3C/svg%3E%0A");
}
.wrap-qnalist .answer .mark {
  background-color: var(--grays-1);
}
.wrap-qnalist .answer .mark::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9993 11.0006C10.9993 11.0006 1.85849 3.84384 0.00356744 1.5781L7.26945 0.284768L10.9993 11.0006Z' fill='%23111111'/%3E%3C/svg%3E%0A");
}
.wrap-upload {
  margin-top: 3rem;
}
.upload-thumb {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 2.4rem 0;
}
.upload-thumb .btn-upload {
  position: relative;
  min-width: 6.8rem;
  min-height: 6.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.upload-thumb .btn-upload::before {
  content: '';
  position: absolute;
  top: 1.2rem;
  left: 50%;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_916_109442)'%3E%3Crect x='1.71484' y='6.85742' width='20.5714' height='13.7143' rx='2' fill='%23666666'/%3E%3Ccircle cx='12.0006' cy='13.7144' r='4.28572' fill='white'/%3E%3Ccircle cx='12.0011' cy='13.714' r='2.57143' fill='%23666666'/%3E%3Cpath d='M7.06136 4.58294C7.38996 3.87879 8.09668 3.42871 8.87373 3.42871H15.1263C15.9033 3.42871 16.61 3.87879 16.9386 4.58294L18 6.85728H6L7.06136 4.58294Z' fill='%23666666'/%3E%3Cpath d='M10.2852 6.85714C10.2852 6.38376 10.6689 6 11.1423 6H12.8566C13.33 6 13.7137 6.38376 13.7137 6.85714V6.85714C13.7137 7.33053 13.33 7.71429 12.8566 7.71429H11.1423C10.6689 7.71429 10.2852 7.33053 10.2852 6.85714V6.85714Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_916_109442'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .ico-add {
  position: absolute;
  left: 50%;
  bottom: 1.4rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.60016' width='0.8' height='12' fill='%23666666'/%3E%3Crect x='12' y='5.60059' width='0.800001' height='12' transform='rotate(90 12 5.60059)' fill='%23666666'/%3E%3C/svg%3E%0A") 50% no-repeat;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .length-txt {
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  display: none;
  color: var(--grays-2);
  line-height: 2rem;
  transform: translateX(-50%);
}
.upload-thumb .btn-upload .current {
  color: var(--primary);
}
.upload-thumb .btn-upload.disabled {
  background: var(--grays-4);
}
.upload-thumb .btn-upload.disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_962_84891)'%3E%3Crect x='1.71484' y='6.85742' width='20.5714' height='13.7143' rx='2' fill='white'/%3E%3Ccircle cx='12.0006' cy='13.7144' r='4.28572' fill='%23CCCCCC'/%3E%3Ccircle cx='12.0011' cy='13.714' r='2.57143' fill='white'/%3E%3Cpath d='M7.06136 4.58294C7.38996 3.87879 8.09668 3.42871 8.87373 3.42871H15.1263C15.9033 3.42871 16.61 3.87879 16.9386 4.58294L18 6.85728H6L7.06136 4.58294Z' fill='white'/%3E%3Cpath d='M10.2852 6.85714C10.2852 6.38376 10.6689 6 11.1423 6H12.8566C13.33 6 13.7137 6.38376 13.7137 6.85714C13.7137 7.33053 13.33 7.71429 12.8566 7.71429H11.1423C10.6689 7.71429 10.2852 7.33053 10.2852 6.85714Z' fill='%23CCCCCC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_962_84891'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.upload-thumb .btn-upload.disabled .ico-add {
  display: none;
}
.upload-thumb .btn-upload.disabled .length-txt,
.upload-thumb .btn-upload.disabled .length-txt .current {
  color: #fff;
}
.thumbnail-container {
  display: flex;
  gap: 1.4rem;
  margin-left: 1.4rem;
}
.thumbnail {
  position: relative;
  width: 6.8rem;
  height: 6.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .6rem;
}
.thumbnail .delete-btn {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width: 1.8rem;
  height: 1.8rem;
  color: #fff;
  background: var(--grays-1) url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1 1L7 7' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50%;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

/* UI확인용 modal(modal은 퍼블 작업 범위아님) */
.popup-mission {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}
.popup-mission .popup-content {
  width: calc(100% - 4rem);
  text-align: center;
  background: #fff;
  border-radius: 2rem;
}
.popup-mission .popup-body {
  padding: 3.2rem 3.2rem;
}
.popup-mission .popup-content .tit-s + .desc {
  margin-top: .8rem;
}
.popup-mission .popup-footer {
  display: flex;
  width: 100%;
}
.popup-mission .popup-footer .btn {
  flex: 1;
  height: 5rem;
  border-radius: 0;
}
.popup-mission .popup-footer .btn.is-grays-4 {
  color: var(--grays-3);
  background: var(--button-4);
}
.popup-mission .popup-footer .btn:nth-child(1) {
  border-radius: 0 0 0 2rem;
}
.popup-mission .popup-footer .btn:nth-child(2) {
  border-radius: 0 0 2rem 0;
}

/* 이벤트 - 빙고 이벤트 */
.mission .wrap-bingo {
  margin-top: 3rem;
}
.mission .wrap-bingo .tit-xs {
  margin-bottom: 1rem;
}
.mission .bingo-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
}
.mission .bingo-box .bingo-item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(33.333% - 1.6rem);
  min-width: calc(33.333% - 1.6rem);
  height: calc(33.333vw - 2.4rem);
  min-height: 9.6rem;
  max-height: 19.2rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: -3px -3px 13px 0px #0000001F inset,
              2px 2px 3px 0px #0000001F;
}
.mission .bingo-box .bingo-item.is-clear {
  background: #F16122 url("../../images/page/img-stamp-clear.png") no-repeat 50% 50% / contain;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #BC39004D,
              -3px -3px 14px 0px #C52400 inset,
              3px 3px 14px 0px #FFA337 inset;
}
.mission .bingo-box .bingo-item.is-joker {
  background: #7DB700 url("../../images/page/img-stamp-joker.png") no-repeat 50% 50% / contain;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #537A0061,
            -3px -3px 14px 0px #6B9C01 inset,
            3px 3px 14px 0px #96DB00 inset;
}
.mission .bingo-box .bingo-item.is-clear .btn-bingo,
.mission .bingo-box .bingo-item.is-joker .btn-bingo {
  opacity: 0;
}
.mission .bingo-box .bingo-item .btn-bingo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  color: var(--grays-3);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  border-radius: 1.2rem;
  cursor: pointer;
  opacity: 1;
}
.mission .bingo-box .bingo-item.selected {
  background-color: var(--primary);
  border-radius: 2rem;
  box-shadow: 2px 2px 4px 0px #BC39004D,
              -3px -3px 14px 0px #C52400 inset,
              3px 3px 14px 0px #FFA337 inset;
}
.mission .bingo-box .bingo-item.selected .btn-bingo {
  border-radius: 2rem;
}
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-name,
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-status,
.mission .bingo-box .bingo-item.selected .btn-bingo .mission-status em {
  color: #fff;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-name {
  min-height: 3.4rem;
  display: block;
  color: var(--grays-2);
  word-break: keep-all;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 3.4rem;
  color: #B0B0B0;
  font-weight: 600;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .current {
  color: var(--primary);
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .total {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: .5rem;
  color: #B0B0B0;
}
.mission .bingo-box .bingo-item .btn-bingo .mission-status .total::before {
  content: '/';
  position: absolute;
  left: 0;
  display: inline-block;
  width: .5rem;
  height: 1.7rem;
}
.mission .wrap-bingo .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* 빙고라인 */
.mission .bingo-box.is-complete .bingo-line {
  background-color: #D6EDA7;
}
.mission .bingo-line {
  position: absolute;
  background: var(--grays-6);
}
.mission .bingo-line.is-active {
  background-color: var(--secondary-1);
}
.mission .bingo-line.horizontal {
  width: 100%;
  height: .6rem;
  left: 0;
}
.mission .bingo-line.vertical {
  width: .6rem;
  height: 100%;
}
.mission .bingo-line.diagonal-left {
  width: 100%;
  height: .6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mission .bingo-line.diagonal-right {
  width: 100%; 
  height: .6rem;
}

.mission .bingo-line[data-line="horizontal-1"] {
  top: calc(33.333% / 2);
}
.mission .bingo-line[data-line="horizontal-2"] {
  top: calc(100% / 2);
}
.mission .bingo-line[data-line="horizontal-3"] {
  top: calc(100% - 33.333% / 2);
}
.mission .bingo-line[data-line="vertical-1"] {
  top: 0;
  left: calc(33.333% / 2 - .8rem);
}
.mission .bingo-line[data-line="vertical-2"] {
  top: 0;
  left: calc(100% / 2);
}
.mission .bingo-line[data-line="vertical-3"] {
  top: 0;
  left: calc(100% - 33.333% / 2);
}
.mission .bingo-line[data-line="diagonal-left"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mission .bingo-line[data-line="diagonal-right"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mission .bingo-box.type-joker .bingo-line.is-active {
  background-color: var(--grays-4);
}
.mission .bingo-box .bingo-item.is-clear.disabled {
  background-color: var(--grays-4);
  background-image: url("../../images/page/img-bkstamp-clear.png");
  box-shadow: -3px -3px 14px 0px #909090 inset,
              3px 3px 14px 0px #E6E6E6 inset,
              2px 2px 3px 0px #0000001F;
}
.mission .bingo-reward {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2.4rem;
}
.mission .bingo-reward .bingo-reward-item {
  flex: 1 1 calc(33.333% - 1rem);
  height: calc(33.333vw - 1rem);
  min-height: 12rem;
  max-height: 19.2rem;
}
.mission .bingo-reward .btn-reward {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  background: var(--grays-6);
  border-radius: 1.2rem;
}
.mission .bingo-reward .btn-reward span {
  display: block;
  width: 100%;
  padding: 1.2rem 2rem;
  color: var(--grays-3);
  font-size: 1.3rem;
  font-weight: 500;
}
.mission .bingo-reward .btn-reward .reward-state {
  padding: .4rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;
  background: var(--grays-4);
  border-radius: 0 0 1.2rem 1.2rem;
}
.mission .bingo-reward .btn-reward::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  transform: translate(-50%, -50%);
}
.mission .bingo-reward div .btn-reward.is-before::before {
  width: 4rem;
  height: 4rem;
  background-image: url("../../images/ico/ico-before.png");
}
.mission .bingo-reward div .btn-reward.is-accept::before {
  background-image: url("../../images/ico/ico-reward.png");
}
.mission .bingo-reward div .btn-reward.is-complete::before {
  background-image: url("../../images/ico/ico-reward-complete.png");
}
.mission .bingo-reward div .btn-reward.is-accept .reward-state {
  background: var(--primary);
}
/* 이벤트 공유 gateway */
.mission .event-gateway {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.mission .event-gateway::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle at center, rgba(255, 153, 34, 0.4) 20%, rgba(255, 153, 34, 0.25) 40%, rgba(255, 212, 193, 0.2) 60%, rgba(255, 212, 193, 0.1) 80%);
  z-index: 0;
}
.mission .event-gateway .wrap-body {
  height: calc(100vh - 10.6rem); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.mission .event-gateway .wrap-body img {
  width: 100%; 
  height: auto;
  object-fit: cover; 
  z-index: 1;
}
.mission .event-gateway .wrap-body .desc {
  width: 100%;
  padding: .8rem 2rem 4rem;
  color: var(--grays-2);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
  z-index: 2;
}
.mission .event-gateway .wrap-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 2;
}

/* 랭킹보드 */
.rankingboard .base-header .wrap-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rankingboard .base-content {
  width: 100%;
  padding: 6rem 0 0;
  background: transparent;
}
.rankingboard .wrap-body {
  position: relative;
}
.rankingboard .wrap-triangle {
  position: relative;
  width: 100%;
  height: 45.4vh; 
  min-height: 33rem;
  overflow: hidden;
}
.rankingboard .wrap-triangle::before {
  content: '';
  position: absolute;
  top: -6rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 62.5vh;
  display: block;
  z-index: 0;
  background: linear-gradient(180deg, #7B32DD 7.8%, #DE75D4 69.05%, #FFDCA7 89.5%, #FFFFFF 95.32%);
}
.rankingboard .triangle1, .triangle2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.rankingboard .triangle1 {
  top: -22%;
  left: 50%;
  width: 139%;
  height: 142%;
  background: linear-gradient(to bottom, rgba(255, 197, 234, 0) 31%, rgba(255, 197, 234, 0.35) 54.5%, #FFC5EA 100%);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  opacity: .4;
  filter: blur(1rem);
  transform: translateX(-50%);
}
.rankingboard .triangle2 {
  top: -27%;
  left: 50%;
  width: 207%;
  height: 142%;
  background: linear-gradient(to bottom, rgba(255, 197, 234, 0) 31%, rgba(255, 197, 234, 0.35) 54.5%, #FFC5EA 100%);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  opacity: .4;
  filter: blur(1rem);
  transform: translateX(-50%);
}
.rankingboard .area-rankingboard {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0;
  z-index: 1;
}
.rankingboard .ranking-period {
  height: 6.1rem;
  padding: .8rem;
  color: #fff;
  text-align: center;
  background: rgba(255,255,255,.15);
  border: .1rem solid ;
  box-shadow: 1px 1px 8px 0px #873ACA4D;
  border: .2rem solid;
  border-color: rgba(255,255,255,.15);
  border-color: rgba(176, 111, 226, 0.5);
  border-radius: 1.2rem;
}
.rankingboard .ranking-period .tit {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.023rem;
}
.rankingboard .ranking-period .tit .date {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.rankingboard .wrap-ranking-list {
  padding: 2rem 2rem 10.6rem;
  background: #fff;
  overflow-y: auto;
}
.rankingboard .ranking-info {
  position: relative;
  color: #fff;
  text-align: center;
}
.rankingboard .wrap-ranking {
  position: relative;
  top: .1rem;
  height: calc(100% - 8.5rem);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 2.4rem -1.4rem 0;
  background: url('../../images/page/img-effect-light.png') no-repeat 50% 0 / 90%;
}
.rankingboard .ranking-item {
  position: relative;
  flex: 1;
}
.rankingboard .ranking-item.is-gold {
  transform: translateY(-.1rem); 
  z-index: 3; 
}
.rankingboard .ranking-item.is-silver {
  z-index: 2;
  transform: translateX(.6rem);
}
.rankingboard .ranking-item.is-bronze {
  z-index: 1;
  transform: translateX(-.6rem);
}
.rankingboard .ranking-item.is-mylevel .score {
  color: var(--primary);
  border-color: var(--primary);
}
.rankingboard .ranking-item.is-mylevel .ranking-box strong {
  color: var(--primary);
}
.rankingboard .ranking-item.is-mylevel .ranking-img {
  position: relative;
}
.rankingboard .ranking-item.is-mylevel .ranking-info::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 50%;
  z-index: -1;
  display: inline-block;
  opacity: 0.4;
  width: 12.7rem;
  height: 8rem;
  background: linear-gradient(to bottom, rgba(222, 117, 212, 0.2) 15.27%, rgba(228, 139, 198, 0.5) 23.02%, rgba(255, 255, 255, 0.8) 53.37%);
  clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
  filter: blur(1rem);
  transform: translateX(-50%);
}
.rankingboard .ranking-item .ranking-text {
  text-align: center;
}
.rankingboard .ranking-item .ranking-text > * {
  display: block;
}
.rankingboard .ranking-item .ranking-text .nickname {
  margin-top: .2rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.rankingboard .ranking-item .ranking-text .name {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.rankingboard .ranking-item .level {
   display: inline-flex;
   justify-content: center;
   width: 2.2rem;
   height: 2.2rem;
   color: #363D44;
   font-size: 1.1rem;
   font-weight: 700;
   line-height: 2.3rem;
   letter-spacing: -0.041rem;
   filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
.rankingboard .ranking-item.is-gold .level {
  color: #955100;
  background: url('../../images/page/ico-level-gold.png') no-repeat 50% / 100%;
}
.rankingboard .ranking-item.is-silver .level {
  color: #363D44;
  background: url('../../images/page/ico-level-silver.png') no-repeat 50% / 100%;
}
.rankingboard .ranking-item.is-bronze .level {
  color: #4E2803;
  background: url('../../images/page/ico-level-bronze.png') no-repeat 50% / 100%;
}
.rankingboard .ranking-item .score {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 9.4rem;
  padding: .2rem 1rem;
  min-height: 2.4rem;
  border-radius: 2rem;
  background: rgba(255,255,255,.78);
  border: .1rem solid #fff;
  color: var(--grays-1);
  font-weight: 700;
  font-size: 1.2rem;
  transform: translateX(-50%);
  box-shadow: 0 .4rem 1rem 0 rgba(0, 0, 0, 0.08);
}
.rankingboard .ranking-item .ranking-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  text-align: center;
  background: linear-gradient(180deg, #FFF9E0 0%, #FFB84E 100%),
              linear-gradient(90deg, rgba(255, 138, 0, 0) 54.56%, rgba(213, 115, 0, 0.35) 87.8%);
  border: .1rem solid rgba(255, 227, 182, 0.6);
  border-bottom: 0;
  border-radius: .8rem .8rem 0 0;
}
.rankingboard .ranking-item.is-mylevel .ranking-box {
  border: .1rem solid var(--primary);
}
.rankingboard .ranking-item.is-mylevel .ranking-box .score {
  border-color: var(--primary);
}
.rankingboard .ranking-item.is-gold .ranking-box {
  min-height: 9.4rem;
  background: linear-gradient(180deg, #FFF9E0 0%, #FFB84E 100%);
  border-bottom: .1rem solid rgba(255, 227, 182, 0.6);
}
.rankingboard .ranking-item.is-silver .ranking-box {
  min-height: 6.7rem;
  padding-right: .6rem;
}
.rankingboard .ranking-item.is-bronze .ranking-box {
  min-height: 5.3rem;
  padding-left: .6rem;
}
.rankingboard .ranking-box strong {
  display: block;
  padding-top: .4rem;
  font-family: 'SCoreDream';
  color: #CB691F;
  font-weight: 900;
}
.rankingboard .ranking-item.is-gold .ranking-box strong {
  font-size: 4.6rem;
  line-height: 4.5rem;
}
.rankingboard .ranking-item.is-silver .ranking-box strong {
  font-size: 3.6rem;
  line-height: 3.8rem;
}
.rankingboard .ranking-item.is-bronze .ranking-box strong {
  font-size: 3rem;
  line-height: 3.8rem;
}
.rankingboard .ranking-item .ranking-img {
  min-height: 7.4rem;
  margin: 0 auto;
}
.rankingboard .ranking-item .ranking-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.rankingboard .ranking-item.is-gold .ranking-img {
  width: 11.2rem;
  height: 8.9rem;
  background-image: url('../../images/page/img-level-gold.png');
}
.rankingboard .ranking-item.is-silver .ranking-img {
  width: 8.8rem;
  height: 7.4rem;
  background-image: url('../../images/page/img-level-silver.png');
}
.rankingboard .ranking-item.is-bronze .ranking-img {
  width: 8.8rem;
  height: 7.4rem;
  background-image: url('../../images/page/img-level-bronze.png');
}
.rankingboard .ranking-item.is-mylevel .ranking-img {
  filter: drop-shadow(0px 0px 50px #FFAC0A)
          drop-shadow(0px 0px 24px #FFFFFF)
          drop-shadow(0px 0px 10px #FFFFFFCC);
  z-index: -1;
}
.rankingboard .ranking-item.is-mylevel .ranking-text {
  z-index: 3;
}
.rankingboard .ranking-item.is-mylevel .ranking-box {
  z-index: 3;
}
.ranking-list-item.is-mylevel .ranking-content {
  border: .1rem solid var(--primary);
  border-radius: .4rem;
  box-shadow: 0px 3px 5px 0px #F161221F;
}
.ranking-list-item.is-mylevel .ranking-content .ranking-rank {
  color: var(--primary);
}
.ranking-list-item.is-mylevel .ranking-content .score {
  font-weight: 700;
}
.ranking-list-item + .ranking-list-item {
  margin-top: .8rem;
}
.ranking-list-item .ranking-content {
  display: flex;
  align-items: center;
  line-height: 2.2rem;
  padding: .7rem 1.2rem;
}
.ranking-list-item .ranking-content .ranking-rank {
  flex: 1;
  max-width: 2.3rem;
  color: var(--grays-3);
  font-size: 1.5rem;
  font-weight: 500;
}
.ranking-list-item .ranking-content .ranking-list-info {
  display: inline-flex;
  align-items: center;
  flex: 3;
  color: var(--grays-1);
  font-size: 1.5rem;
  font-weight: 500;
}
.ranking-list-item .ranking-content .ranking-list-info .name {
  display: inline-block;
  margin-left: .4rem;
  color: var(--grays-3);
  font-size: 1.2rem;
}
.ranking-list-item .ranking-content .score {
  display: inline-flex;
  justify-content: flex-end;
  flex: 1;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
}
.ranking-list-item .ranking-list-info {
  min-width: 11.4rem;
}
.ranking-list-item .ranking-list-info::before {
  content: '';
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 .4rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.ranking-list-item.is-soulstar .ranking-list-info::before {
  background-image: url("../../images/ico/ico-lv-soulstar.png");
}
.ranking-list-item.is-timestar .ranking-list-info::before {
  background-image: url("../../images/ico/ico-lv-timerstar.png");
}
.ranking-list-item.is-powerstar .ranking-list-info::before {
  background-image: url("../../images/ico/ico-lv-powerstar.png");
}
.ranking-list-item.is-minestar .ranking-list-info::before {
  background-image: url("../../images/ico/ico-lv-minestar.png");
}
.ranking-list-item.is-endorstar .ranking-list-info::before {
  background-image: url("../../images/ico/ico-lv-endorstar.png");
}
.wrap-myranking {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 1.6rem 2rem 3.4rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  border-radius: 2rem 2rem 0 0;
  z-index: 10;
}
.wrap-myranking .title {
  display: block;
  margin-bottom: 1rem;
  color: var(--grays-2);
  font-size: 1.4rem;
}
.wrap-myranking .ranking-list-item .ranking-content .ranking-rank {
  min-width: 2rem;
  color: var(--grays-1);
  font-weight: 700;
}
.wrap-myranking .ranking-list-item .ranking-content .score {
  display: inline-flex;
  align-items: center;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
}
.wrap-myranking .btn-add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: .4rem;
  background-color: var(--primary);
  border-radius: 50%;
}
.wrap-myranking .btn-add::after {
  content: '';
  display: inline-block;
  width: .8rem;
  height: .8rem;
  background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5H9' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M5 1L5 9' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50% / 100%;
}
.wrap-myranking .ranking-list-item .ranking-content {
  padding: 0;
}
.wrap-myranking .ranking-list-item .ranking-content .ranking-list-info {
  flex: auto;
}

/* mediaquery */
@media (max-width: 350px) {
  .mission .wrap-bingo .bingo-box {
    gap: 1rem;
  }
  .mission .bingo-box .bingo-item {
    flex: 1 1 calc(33.333% - 1rem);
    min-width: calc(33.333% - 1rem);
    min-height: 8.6rem;
  }
  .mission .bingo-box .bingo-item .btn-bingo {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .mission .bingo-reward .bingo-reward-item {
    min-height: 11rem;
  }
  .mission .bingo-reward div .btn-reward::before {
    width: 3.8rem;
    height: 3.8rem;
    background-size: 100%;
  }
  .mission .bingo-reward .btn-reward span {
    padding: .8rem 1rem;
    font-size: 1.2rem;
  }
  .mission .bingo-reward .btn-reward .reward-state {
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .mission .wrap-bingo,
  .mission .wrap-qnalist,
  .mission .wrap-upload {
    max-width: 96rem;
    margin: 3rem auto 0;
  }
  .mission .wrap-bingo .bingo-box .bingo-item .btn-bingo {
    font-size: 1.4rem;
  }
  .mission .bingo-reward div .btn-reward::before {
    width: 6.4rem;
    height: 6.4rem;
    background-size: 100%;
  }
  .mission .bingo-line.diagonal-left,
  .mission .bingo-line.diagonal-right {
    width: 80%;
  }
}