@charset "UTF-8";

.mypage .cap-m.date {
  color: var(--grays-3);
  font-weight: 400;
}

/* 1:1 문의 */
.mypage .flag-status {
  display: inline-flex;
  align-items: center;
  margin-left: .8rem;
  padding: .2rem .9rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: -0.02rem;
  border-radius: 1.5rem;
}
.mypage .flag-status.is-waiting {
  background: var(--grays-2);
}
.mypage .flag-status.is-complete {
  background: var(--system-3);
}

/* 1:1문의 */
.mypage .tab-content .tit-xs {
  margin: 2rem 0 .6rem;
}
.mypage .wrap-upload {
  margin-top: 2rem;
}
.mypage .wrap-select {
  margin-top: 1rem;
}
.mypage .wrap-select + .wrap-textarea {
  margin-top: 1rem;
}
.mypage .thumbnail-update {
  /* position: absolute;
  bottom: 1.4rem;
  left: 50%; */
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5.60156' width='0.8' height='12' fill='%23666666'/%3E%3Crect x='12' y='5.6001' width='0.800001' height='12' transform='rotate(90 12 5.6001)' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translateX(-50%);
}
.mypage .wrap-qnalist.is-detail .qna-panel {
  padding: 2rem .4rem;
}
.mypage .wrap-qnalist.is-detail .tit-xxs {
  font-weight: 700;
}
.wrap-question-tit,
.wrap-answer-tit {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.mypage .wrap-qnalist.is-detail .question-tit,
.mypage .wrap-qnalist.is-detail .answer-tit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1rem;
}
.mypage .wrap-qnalist.is-detail .question-tit {
  padding-right: 5rem;
}
.mypage .wrap-qnalist.is-detail .wrap-question-tit .btn-delete {
  position: absolute;
  right: 0;
  display: inline-flex;
  padding: .6rem 1.3rem;
  color: var(--grays-2);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  background: var(--button-4);
  border-radius: .6rem;
}
.mypage .wrap-qnalist.is-detail .question-txt {
  color: var(--grays-2);
}
.mypage .wrap-qnalist.is-detail .question-imglist {
  margin-top: 2rem;
}
.mypage .wrap-qnalist.is-detail .mark {
  min-width: 3.2rem;
  margin: 0 0 0 .4rem;
}
.mypage .wrap-qnalist.is-detail .question-tit .tit-xxs,
.mypage .wrap-qnalist.is-detail .question-tit .date,
.mypage .wrap-qnalist.is-detail .answer-tit .tit-xxs,
.mypage .wrap-qnalist.is-detail .answer-tit .date  {
  display: block;
  width: 100%;
}
.mypage .wrap-qnalist.is-detail .question-item,
.mypage .wrap-qnalist.is-detail .answer-item {
  padding-left: 4.6rem;
}
.mypage .wrap-qnalist.is-detail .question {
  padding-bottom: 2.4rem;
}
.mypage .wrap-qnalist.is-detail .answer {
  padding-top: 2.4rem;
  border-top: .1rem solid var(--button-5);
}
.mypage .question-thumblist {
  display: flex;
  align-items: center;
  padding: 2rem 0 0;
  overflow-y: hidden;
  overflow-x: auto;
}
.mypage .question-thumblist .thumbnail-container {
  display: flex;
  gap: 1.4rem;
  margin-left: 0;
}
.mypage .question-thumblist .thumbnail {
  position: relative;
  width: 6.8rem;
  height: 6.8rem;
  border: .1rem solid var(--button-5);
  border-radius: .6rem;
}
.mypage .question-thumblist .thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: .6rem;
  object-fit: cover;
}
.mypage .question-thumblist .thumbnail .delete-btn {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  width: 1.8rem;
  height: 1.8rem;
  color: #fff;
  border: 0;
  border-radius: 50%;
  background: var(--grays-1) url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1 1L7 7' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat 50%;
  cursor: pointer;
}

/* faq */
.mypage .wrap-faqlist {
  position: relative;
  padding-bottom: 12.2rem;
}
.mypage .wrap-faqlist .ui-tab.is-round {
  margin-top: 2rem;
}
.mypage .wrap-faqlist .form-searchbox + .ui-tab {
  margin-top: 2rem;
}
.mypage .faq-search-init {
  display: none;
  margin: 2.4rem 0 2rem;
  color: var(--grays-2);
  font-size: 1.4rem;
  text-align: center;
}
.faq-search-init.is-active {
  display: block;
}
.mypage .wrap-faqlist .list-box .list-link {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem 1rem 1rem;
}
.mypage .wrap-faqlist .list-box .list-link .status {
  display: block;
  width: 100%;
  color: var(--grays-3);
}
.mypage .wrap-faqlist .list-box .list-link .desc {
  margin-top: .2rem;
  color: var(--grays-1);
}
.mypage .wrap-bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #fff;
  z-index: 1;
}
.mypage .wrap-faq-update {
  padding: 1.6rem 8.6rem 1.6rem 1.6rem;
  background-color: var(--grays-6);
  border-radius: .6rem;
  box-sizing: border-box;
}
.mypage .wrap-faq-update p {
  color: var(--grays-1);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.mypage .wrap-faq-update .btn-link {
  display: block;
  margin-top: .4rem;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration: underline;
}
.mypage .wrap-faq-update::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.3rem;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: url("../../images/page/img-faq-update.png") no-repeat 50% / 100%;
  transform: translateY(-50%);
}
.mypage .wrap-faqlist .inp-search {
  position: relative;
}
.mypage .wrap-faqlist .btn-cancel {
  display: none; 
  position: absolute;
  top: 1.9rem;
  right: 7.4rem;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23CCCCCC'/%3E%3Cpath d='M6 12L12 6' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M12 12L6 6' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.mypage .faq-search-result {
  margin-top: 3.2rem;
}
.mypage .faq-search-result .tit-xxs {
  font-weight: 700;
}
.mypage .faq-search-result .result-list {
  margin-top: 1rem;
}
.mypage .faq-search-result .result-list .key {
  display: block;
  width: 100%;
  color: var(--grays-3);
  font-size: 1.3rem;
  line-height: 2rem;
}
.mypage .faq-search-result .result-list .result-link {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem .4rem;
  font-size: 1.5rem;
}
.mypage .faq-search-result .result-list li {
  border-bottom: .1rem solid var(--button-4);
}
.mypage .faq-search-result .result-txt {
  margin-top: .2rem;
  line-height: 2.2rem;
}
.mypage .faq-search-result .result-list .highlight {
  color: var(--primary);
}

/* 공지사항 */

/* 이용약관 */
.wrap-terms {
  /* 임시 style */
  min-height: 70vh;
  padding: 2rem;
  background: var(--grays-6);
}